<div class="card">
    <h4 class="card-header">{{ 'app.authentication.login.header' | translate }}</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group mb-3">
                <label for="email">{{ 'app.authentication.login.email' | translate }}</label>
                <input id="email" type="text" formControlName="email" class="form-control" [class.is-invalid]="submitted() && f['email'].errors" />
                <fingather-input-validator
                    [control]="f['email']"
                    [isSubmitted]="submitted()"
                    [errorMessages]="{
                        required: 'app.authentication.login.emailRequired',
                    }"
                />
            </div>
            <div class="form-group mb-3">
                <label for="password">{{ 'app.authentication.login.password' | translate }}</label>
                <input id="password" type="password" formControlName="password" class="form-control" [class.is-invalid]="submitted() && f['password'].errors" />
                <fingather-input-validator
                    [control]="f['password']"
                    [isSubmitted]="submitted()"
                    [errorMessages]="{
                        required: 'app.authentication.login.passwordRequired',
                    }"
                />
            </div>
            <div class="form-group text-center">
                <fingather-save-button
                    [saving]="saving()"
                    [text]="'app.authentication.login.login' | translate"
                />

                <a routerLink="../sign-up" class="btn btn-link">{{ 'app.authentication.login.signUp' | translate }}</a>
            </div>
        </form>
    </div>
</div>
