<nav
    class="navbar"
    [class.collapsed]="isNavigationCollapsed"
>
    <button
        (click)="toggleNavigation()"
        class="navbar-toggler"
        [class.active]="!isNavigationCollapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navigation"
        aria-controls="navigation"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-icon"></span>
        <span class="navbar-icon"></span>
        <span class="navbar-icon"></span>
    </button>
    <div id="navigation">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">
            <img ngSrc="images/fingather.svg" alt="FinGather" width="100" height="25">
        </a>

        @if (!isNavigationCollapsed) {
            <fingather-portfolio-selector />
        }

        <ul class="nav mb-auto">
            <li class="nav-item">
                <a class="nav-link" (click)="collapseNavigation()" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <mat-icon>dashboard</mat-icon>
                    <span>{{ 'app.navbar.dashboard' | translate }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="collapseNavigation()" routerLink="/assets" routerLinkActive="active">
                    <mat-icon>pie_chart</mat-icon>
                    <span>{{ 'app.navbar.assets' | translate }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="collapseNavigation()" routerLink="/transactions" routerLinkActive="active">
                    <mat-icon>list</mat-icon>
                    <span>{{ 'app.navbar.transactions' | translate }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="collapseNavigation()" routerLink="/dividends" routerLinkActive="active">
                    <mat-icon>calendar_month</mat-icon>
                    <span>{{ 'app.navbar.dividends' | translate }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="collapseNavigation()" routerLink="/overviews" routerLinkActive="active">
                    <mat-icon>visibility</mat-icon>
                    <span>{{ 'app.navbar.overviews' | translate }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="collapseNavigation()" routerLink="/history" routerLinkActive="active">
                    <mat-icon>monitoring</mat-icon>
                    <span>{{ 'app.navbar.history' | translate }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="collapseNavigation()" routerLink="/groups" routerLinkActive="active">
                    <mat-icon>stacks</mat-icon>
                    <span>{{ 'app.navbar.groups' | translate }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="collapseNavigation()" routerLink="/strategies" routerLinkActive="active">
                    <mat-icon>track_changes</mat-icon>
                    <span>{{ 'app.navbar.strategies' | translate }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="collapseNavigation()" routerLink="/portfolios" routerLinkActive="active">
                    <mat-icon>wallet</mat-icon>
                    <span>{{ 'app.navbar.portfolios' | translate }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="collapseNavigation()" routerLink="/price-alerts" routerLinkActive="active">
                    <mat-icon>notifications</mat-icon>
                    <span>{{ 'app.navbar.priceAlerts' | translate }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="collapseNavigation()" routerLink="/api-keys" routerLinkActive="active">
                    <mat-icon>key</mat-icon>
                    <span>{{ 'app.navbar.apiKeys' | translate }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="collapseNavigation()" routerLink="/account" routerLinkActive="active">
                    <mat-icon>person</mat-icon>
                    <span>{{ 'app.navbar.account' | translate }}</span>
                </a>
            </li>
            @if(currentUser()?.role === UserRoleEnum.Admin) {
                <li class="nav-item">
                    <a class="nav-link" (click)="collapseNavigation()" routerLink="/users" routerLinkActive="active">
                        <mat-icon>group</mat-icon>
                        <span>{{ 'app.navbar.users' | translate }}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="collapseNavigation()" routerLink="/settings" routerLinkActive="active">
                        <mat-icon>settings</mat-icon>
                        <span>{{ 'app.navbar.settings' | translate }}</span>
                    </a>
                </li>
            }
        </ul>
        <ul class="nav">
            <fingather-language-selector />

            <li class="nav-item">
                <a class="nav-link logout" (click)="logout();collapseNavigation()" tabindex="0">
                    <mat-icon>logout</mat-icon>
                    <span>{{ 'app.navbar.logout' | translate }}</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
