<div class="group-chart">
    @if (!this.$loading()) {
        <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [labels]="chartOptions.labels"
            [theme]="chartOptions.theme"
            [fill]="chartOptions.fill"
            [yaxis]="chartOptions.yaxis"
            [stroke]="chartOptions.stroke"
            [states]="chartOptions.states"
            [legend]="chartOptions.legend"
            [plotOptions]="chartOptions.plotOptions"
            [colors]="chartOptions.colors"
        ></apx-chart>

        <fingather-legend [legendItems]="$legendItems()" />
    } @else {
        <span class="spinner-border spinner-border-sm mr-1"></span>
    }
</div>
