<div class="header">
    <h1 class="h3">{{ 'app.mcpApiKeys.mcpApiKeys.title' | translate }}</h1>

    <div class="header-controls">
        <a routerLink="add-mcp-api-key" class="btn btn-primary" tabindex="0">
            <mat-icon>add</mat-icon>
            <span> {{ 'app.mcpApiKeys.mcpApiKeys.addMcpApiKey' | translate }}</span>
        </a>
    </div>
</div>

<div class="card">
    <div class="card-body">
        @if(mcpApiKeys(); as mcpApiKeys) {
            <div class="table-responsive" scrollShadow>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="w-40">{{ 'app.mcpApiKeys.mcpApiKeys.name' | translate }}</th>
                            <th class="w-40">{{ 'app.mcpApiKeys.mcpApiKeys.apiKey' | translate }}</th>
                            <th class="w-20"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(mcpApiKey of mcpApiKeys; track mcpApiKey.id) {
                            <tr>
                                <td>{{mcpApiKey.name}}</td>
                                <td>{{mcpApiKey.apiKey}}</td>
                                <td class="actions">
                                    <button class="btn btn-secondary" (click)="copyApiKey(mcpApiKey.id)" tabindex="0">
                                        <mat-icon>content_copy</mat-icon>
                                    </button>
                                    <fingather-delete-button
                                        (confirm)="deleteMcpApiKey(mcpApiKey.id)"
                                        [title]="'app.mcpApiKeys.mcpApiKeys.deleteTitle' | translate"
                                        [message]="'app.mcpApiKeys.mcpApiKeys.deleteMessage' | translate"
                                    />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>
