<div class="row">
    <div class="col-md-8">
        <h2>Dividends</h2>
    </div>
    <div class="col-md-4 text-end">
        <a (click)="addDividend()" class="btn btn-sm btn-success mb-2" tabindex="0">Add Dividend</a>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 80%">Date</th>
            <th style="width: 20%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dividend of dividends">
            <td>{{dividend.actionCreated | amFromUtc | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'}}</td>
            <td style="white-space: nowrap">
                <a (click)="editDividend(dividend.id)" class="btn btn-sm btn-primary mr-1" tabindex="0">Edit</a>
                <button (click)="deleteDividend(dividend.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="dividend.isDeleting">
                    @if (dividend.isDeleting) {
                        <span class="spinner-border spinner-border-sm"></span>
                    } @else {
                        <span>Delete</span>
                    }
                </button>
            </td>
        </tr>
        <tr *ngIf="dividends === null">
            <td colspan="2" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>
