<div class="row">
    <div class="col-md-8">
        <h2>{{ 'app.assets.dividends.title' | translate }}</h2>
    </div>
    <div class="col-md-4 text-end">
        <a (click)="addDividend()" class="btn btn-sm btn-success mb-2" tabindex="0">{{ 'app.assets.dividends.addDividend' | translate }}</a>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 80%">{{ 'app.assets.dividends.date' | translate }}</th>
            <th style="width: 20%"></th>
        </tr>
    </thead>
    <tbody>
        @if (dividends !== null) {
            @for (dividend of dividends; track dividend.id) {
                <tr>
                    <td>{{dividend.actionCreated | date: 'y-MM-dd HH:mm'}}</td>
                    <td style="white-space: nowrap">
                        <a (click)="editDividend(dividend.id)" class="btn btn-sm btn-primary mr-1" tabindex="0">{{ 'app.common.edit' | translate }}</a>
                        <fingather-delete-button
                            (onConfirm)="deleteDividend(dividend.id)"
                            [title]="'Delete dividend'"
                            [message]="'Are you sure you want to delete dividend?'"
                        />
                    </td>
                </tr>
            }
        } @else {
            <tr>
                <td colspan="2" class="text-center">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </td>
            </tr>
        }
    </tbody>
</table>
