body {
    min-height: 100vh;
}

fingather-app {
    display: block;
    min-height: 100vh;

    > .content-center {
        min-height: 100vh;

        .app-container {
            padding: 0;
        }
    }
}

.app-container {
    @include media-breakpoint-up(lg) {
        padding-top: 0;
        padding-left: $navigation-width;
    }
}

.container-fluid {
    padding-left: $spacing-md;
    padding-right: $spacing-md;

    @include media-breakpoint-up(lg) {
        padding-left: $spacing-xl;
        padding-right: $spacing-xl;
    }
}

.content-container {
    padding-top: $spacing-lg;
    padding-bottom: $spacing-lg;
}

.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: $spacing-lg;
    gap: $spacing-lg;

    h1 {
        margin-top: 1px;
    }

    .header-controls {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: $spacing-lg;

        .header-controls-buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: $spacing-md;
        }

        @include media-breakpoint-up(lg) {
            justify-content: flex-end;
        }
    }

    @include media-breakpoint-up(lg) {
        flex-direction: row;
    }
}
