.app-container {
    padding-top: 61px;

    @include media-breakpoint-up(lg) {
        padding-top: 0;
        padding-left: $navigation-width;
    }
}

.container-fluid {
    padding-left: $spacing-lg;
    padding-right: $spacing-lg;
}

.content-container {
    padding-top: $spacing-lg;
    padding-bottom: $spacing-lg;
}

.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    margin-bottom: $spacing-lg;

    h1 {
        margin-top: 1px;
    }
}
