.btn {
    font-size: $font-size;
    font-weight: 700;
    padding: 12px 14px 8px;
    height: 48px;

    .mat-icon {
        margin-top: -4px;
        vertical-align: middle;
    }

    span {
        display: inline-block;
        padding-left: 3px;
        padding-right: 3px;
    }

    .mat-icon + span {
        margin-left: 3px;
    }

    span + .mat-icon {
        margin-left: 3px;
    }
}

.btn-primary {
    background-color: $color-green-light;
    border: 1px solid $color-green-light;
    color: $black;

    &:hover {
        background-color: $primary;
        border: 1px solid $primary;
        color: $white;
    }
}

.btn-secondary {
    background-color: $color-gray-light;
    border: 1px solid $color-gray-light;
    color: $color-gray-lightest;

    &:hover {
        background-color: $color-gray;
        border: 1px solid $color-gray-light;
        color: $color-gray-lightest;
    }
}

.btn-link {
    background-color: transparent;
    border: 0;
    color: $color-gray-lightest;
    text-decoration: none;

    &:hover {
        color: $color-white;
    }

    .mat-icon {
        vertical-align: bottom;
    }
}

.btn-round {
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid $color-gray-lighter;
    padding: 11px 10px;

    .mat-icon {
        color: $color-green-light;
    }
}
