.card {
    display: flex;
    flex-direction: column;
    padding: $spacing-lg;
    border: 0;
    border-radius: $border-radius-lg;
    background-color: $background-color;

    --scroll-shaddow-color-from: rgba(38, 38, 38, 0);
    --scroll-shaddow-color-to: #{$color-gray};

    .card-header {
        display: flex;
        gap: $spacing-sm;
        padding-bottom: 14px;
        border-bottom: 1px solid $color-gray-lighter;

        .icon-circle + h3 {
            margin-top: 7px;
        }
    }

    .card-body {
        display: flex;
        flex-direction: column;

        .value {
            white-space: nowrap;

            .mat-icon {
                padding-top: 2px;
            }
        }
    }

    .card-header + .card-body {
        margin-top: 24px;
    }

    &.form {
        width: 100%;
        max-width: 544px;
    }

    &.form-wider {
        width: 100%;
        max-width: 928px;
    }

    &.dark {
        background-color: $color-black;
        border: 1px solid $color-gray-lighter;
    }
}
