@use 'sass:math';

.dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: $spacing-xs $spacing-sm;
    color: $color-gray-lightest;
    border: 1px solid $color-gray-lighter;
    border-radius: $border-radius;
    background-color: $black;

    &::after {
        @include mat-icon('\e946');
        border: 0;
    }

    &.show {
        border: 1px solid $primary;
        box-shadow: 0 0 0 3px #0284C71A;
    }
}

.dropdown-menu {
    width: 100%;
    max-height: 315px;
    overflow-y: scroll;
}

.dropdown-item {
    display: flex;
    align-items: center;
    margin: math.div($spacing-xs, 2);
    padding: math.div($spacing-xs, 2) $spacing-sm;
    width: calc(100% - $spacing-xs);
    color: $color-gray-lightest;

    &:hover {
        background-color: $color-gray;
        border-radius: $border-radius;
    }

    &.disabled {
        justify-content: space-between;
        opacity: 0.6;
        color: $color-gray-lightest;
    }
}

.dropup .dropdown-toggle::after {
    @include mat-icon('\e946');
    border: 0;
    vertical-align: middle;
}
