.dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: $spacing-xs $spacing-sm;
    color: $color-gray-lightest;
    border: 1px solid $color-gray-lighter;
    border-radius: $border-radius;
    background-color: $black;

    &::after {
        @include mat-icon('\e946');
        border: 0;
    }
}

.dropup .dropdown-toggle::after {
    @include mat-icon('\e946');
    border: 0;
    vertical-align: middle;
}
