@font-face {
    font-family: "Gaist";
    src:
        local("Gaist"),
        url("/fonts/Geist-Regular.otf") format("opentype"),
        url("/fonts/Geist-Regular.woff") format("woff"),
        url("/fonts/Geist-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Gaist";
    src:
        local("Gaist"),
        url("/fonts/Geist-SemiBold.otf") format("opentype"),
        url("/fonts/Geist-SemiBold.woff") format("woff"),
        url("/fonts/Geist-SemiBold.woff2") format("woff2");
    font-weight: 600;
}

