@use 'sass:math';

.form-control {
    padding: 7px $spacing-sm;
    color: $color-gray-lightest;

    &:focus {
        color: $color-gray-lightest;
        border: 1px solid $primary;
        box-shadow: 0 0 0 3px #0284C71A;
    }

    &::placeholder {
        color: $color-gray-8;
    }
}

.form-select {
    position: relative;
    padding: 7px $spacing-sm;
    color: $color-gray-lightest;
    background-image: none;

    &:focus {
        color: $color-gray-lightest;
        border: 1px solid $primary;
        box-shadow: 0 0 0 3px #0284C71A;
    }

    &:after {
        position: absolute;
        right: 0;
        @include mat-icon('\ebcc');
    }
}

.date-input {
    position: relative;

    &:after {
        @include mat-icon('\ebcc');
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 $spacing-sm 0 $spacing-xs;
        color: $color-gray-lightest;
    }
}

input[type="date"],
input[type="datetime-local"] {
    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }
}

form {
    label {
        font-weight: 700;
        color: $color-white;
        margin-top: 2px;
        margin-bottom: 7px;
    }

    .form-row {
        margin-bottom: $spacing-lg;
    }

    .form-group.buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

fingather-select,
fingather-type-select,
fingather-select-multi,
fingather-color-picker {
    display: block;
    width: 100%;

    .dropdown-toggle {
        width: 100%;
    }
}

fingather-select-multi {
    .dropdown-toggle {
        flex-wrap: wrap;
        height: auto;
        min-height: 40px;
        justify-content: flex-start;
        gap: $spacing-xs;

        &:after {
            content: none;
        }

        .tag {
            display: flex;
            height: 26px;
            font-size: 12px;

            .close .mat-icon {
                margin-top: 3px;
            }
        }
    }

    .dropdown-item {
        .form-check {
            max-width: 100%;
            margin-bottom: 0;
            padding-left: $spacing-sm + 16px;

            .form-check-input {
                margin-left: -($spacing-sm + 16px);
            }
        }
    }
}

fingather-color-picker {
    .color {
        display: block;
        width: 48px;
        height: 24px;
        border-radius: $border-radius;
        margin-right: $spacing-xs;
    }

    .color-wrapper {
        display: flex;
    }

    .dropdown-menu {
        max-height: none;
        overflow: auto;
    }

    .dropdown-item {
        justify-content: space-between;
        padding: math.div($spacing-xs, 2) $spacing-xs;

        .mat-icon {
            color: $color-white;
        }
    }

    .dropdown-item-custom {
        display: flex;
        margin: math.div($spacing-xs, 2);
        padding: $spacing-xs;

        &:hover {
            background-color: $color-gray;
            border-radius: $border-radius;
        }

        .form-control {
            height: 40px;
        }
    }

    h6 {
        padding: $spacing-xs $spacing-sm;
    }
}

.file-drop {
    background-color: $color-black;
    border: 1px dashed $color-gray-lighter;
    border-radius: $border-radius-lg;

    .ngx-file-drop__content {
        height: 160px !important;
    }

    &.ngx-file-drop__drop-zone--over {
        border: 1px dashed #A4E04F;
        background-color: #A4E04F1A !important;
    }

    .file-drop-text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .file-drop-text {
        color: $color-gray-lightest;
        margin-bottom: $spacing-md;
    }
}
