.form-control {
    padding: 7px $spacing-sm;
    color: $color-gray-lightest;

    &:focus {
        color: $color-gray-lightest;
        border: 1px solid $primary;
        box-shadow: 0 0 0 3px #0284C71A;
    }
}

.form-select {
    position: relative;
    padding: 7px $spacing-sm;
    color: $color-gray-lightest;
    background-image: none;

    &:focus {
        color: $color-gray-lightest;
        border: 1px solid $primary;
        box-shadow: 0 0 0 3px #0284C71A;
    }

    &:after {
        position: absolute;
        right: 0;
        @include mat-icon('\ebcc');
    }
}

.date-input {
    position: relative;

    &:after {
        @include mat-icon('\ebcc');
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 $spacing-sm 0 $spacing-xs;
        color: $color-gray-lightest;
    }
}

input[type="date"],
input[type="datetime-local"] {
    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }
}

form {
    label {
        font-weight: 700;
        color: $color-white;
        margin-top: 2px;
        margin-bottom: 7px;
    }

    .form-row {
        margin-bottom: $spacing-lg;
    }

    .form-group.buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
