.modal-content {
    border: 0;
    background-color: $color-gray;
}

.modal-body {
    padding: $spacing-lg;
}

.modal-footer {
    padding: $spacing-md $spacing-lg;
    border-top: 1px solid $color-gray-lighter;

    > * {
        margin: 0;
    }

    .btn-secondary {
        margin-right: $spacing-xs;
    }
}

.modal-backdrop.show {
    opacity: 0.8;
}

.confirm-dialog {
    display: flex;

    p {
        margin-bottom: 0;
        color: $color-gray-lightest;
    }

    .icon-circle {
        margin-right: 13px;

        .mat-icon {
            color: $color-red-darker
        }
    }
}
