.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding-right: 15px;
    padding-left: 15px;
    z-index: 1000;
    background: transparent;

    @include media-breakpoint-up(lg) {
        flex-direction: column !important;
        width: $navigation-width;
        height: 100vh;
        padding-left: $spacing-xl;
        padding-right: $spacing-xl;
        background-color: $background-color;
    }

    .navbar-brand {
        margin: 0;

        @include media-breakpoint-up(lg) {
            margin-top: 10px;
        }

        img {
            height: 54px;

            @include media-breakpoint-up(lg) {
                height: 60px;
            }
        }
    }

    .nav {
        width: 100%;
    }

    .nav-item {
        margin-bottom: 8px;
        font-size: $font-size;

        .nav-link {
            padding-top: 6px;
            padding-bottom: 6px;
            border-radius: $border-radius;
            border: 1px solid $color-gray;
            color: $color-gray-lightest;

            &.active {
                background-color: $color-gray-light;
                border: 1px solid $color-gray-lighter;
                color: $white;
            }

            .mat-icon {
                margin-right: 10px;
                color: $primary;
                vertical-align: middle;
            }
            span {
                display: inline-block;
                padding-top: 1px;
                vertical-align: middle;
            }

            &.logout {
                .mat-icon {
                    color: $color-gray-8;
                }
            }
        };

        &:hover {
            .nav-link {
                background-color: $color-gray;
                border: 1px solid $color-gray-lighter;
                color: $white;
            }
        }
    }

    #navigation {
        padding-top: 20px;
        margin-bottom: 20px;
    }
}
