.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: $spacing-md;
    z-index: 1000;
    background: transparent;
    flex-direction: column;
    align-items: end;

    @include media-breakpoint-up(lg) {
        flex-direction: column !important;
        width: $navigation-width;
        height: 100dvh;
        padding-top: $spacing-xl;
        padding-left: $spacing-xl;
        padding-right: $spacing-xl;
        background-color: $background-color;
    }

    .navbar-brand {
        padding-top: 0;
        margin: 13px 0 21px 0;

        img {
            height: 54px;

            @include media-breakpoint-up(lg) {
                height: 25px;
            }
        }

        @include media-breakpoint-up(lg) {
            margin: -4px 0 24px 15px;
        }
    }

    .nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 8px;
    }

    .nav-item {
        font-size: $font-size;

        .nav-link {
            padding-top: 6px;
            padding-bottom: 6px;
            padding-right: 10px;
            border-radius: $border-radius;
            border: 1px solid transparent;
            color: $color-gray-lightest;

            &.active {
                background-color: $color-gray-light;
                border: 1px solid $color-gray-lighter;
                color: $white;
            }

            .mat-icon {
                margin-right: 10px;
                color: $primary;
                vertical-align: middle;
            }
            span {
                display: inline-block;
                padding-top: 1px;
                vertical-align: middle;
            }

            &.logout {
                .mat-icon {
                    color: $color-gray-8;
                }
            }

            @include media-breakpoint-up(lg) {
                border: 1px solid $color-gray;
            }
        };

        &:hover {
            .nav-link {
                background-color: $color-gray;
                border: 1px solid $color-gray-lighter;
                color: $white;
            }
        }
    }

    #navigation {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        background-color: $color-black;
        width: 100%;
        height: 100dvh;
        margin-top: -62px;
        padding-bottom: $spacing-md;
        overflow-y: auto;

        @include media-breakpoint-up(lg) {
            background-color: transparent;
            height: 100%;
            margin-top: 0;
            padding-bottom: 0;
        }
    }

    &.collapsed {
        position: absolute;
        width: auto;
        left: auto;
        right: 0;

        #navigation {
            display: none;

            @include media-breakpoint-up(lg) {
                display: flex;
            }
        }

        @include media-breakpoint-up(lg) {
            position: fixed;
            width: $navigation-width;
            left: 0;
            right: auto;
        }
    }

    .language-selector {
        .dropdown-toggle {
            width: 100%;
            background: transparent;
        }

        .flag {
            margin-right: $spacing-xs;
        }
    }

    .navbar-toggler {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding: 12px;
        border: 0;
        border-radius: $border-radius;
        z-index: 1001;

        &:hover,
        &.active {
            background-color: $color-gray;
            box-shadow: none;
        }

        &:focus {
            outline: none;
            box-shadow: none;
        }

        .navbar-icon {
            display: block;
            width: 24px;
            height: 4px;
            border-radius: 4px;
            background-color: $color-green-light;
        }

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    fingather-portfolio-selector {
        @include media-breakpoint-up(lg) {
            display: none;
        }

        .portfolio-selector {
            width: 100%;
            margin-bottom: 31px;

            .dropdown {
                width: 100%;

                .dropdown-toggle {
                    width: 100%;
                }
            }
        }
    }
}
