.portfolio-list {
    .portfolio {
        margin-bottom: $spacing-xl;

        .portfolio-header {
            display: flex;
            flex-direction: column;
            gap: $spacing-lg;
            margin-bottom: 32px;
            align-items: flex-start;

            h2 {
                display: flex;
                align-items: center;
                flex: auto;
                margin-bottom: 0;
            }

            .portfolio-header-title {
                display: flex;
            }

            .control-buttons {
                display: flex;
            }

            .icon-circle {
                margin-right: $spacing-lg;
            }

            @include media-breakpoint-up(md) {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}
