.portfolio-total {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $spacing-lg;

    @include media-breakpoint-up(sm) {
        grid-template-columns: 1fr 1fr;
    }
    @include media-breakpoint-up(xl) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @include media-breakpoint-up(xxl) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .card-body {
        .value + div {
            margin-top: 18px;
        }

        .tax-fee {
            tr {
                td {
                    padding-top: 2px;
                    padding-bottom: 3px;
                }
            }

            tr:last-of-type {
                td {
                    padding-top: 5px;
                    padding-bottom: 0;
                    border-top: 1px solid $color-gray-lighter;
                }
            }
        }
    }

    .portfolio-value {
        align-self: start;

        @include media-breakpoint-up(sm) {
            grid-row-start: 1;
            grid-row-end: span 2;
        }
        @include media-breakpoint-up(xl) {
            grid-row-start: 1;
            grid-row-end: span 3;
        }
        @include media-breakpoint-up(xxl) {
            grid-row-start: 1;
            grid-row-end: span 2;
        }

        .card-body {
            gap: $spacing-md;
        }

        .portfolio-value-chart {
            position: relative;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(45deg, $background-color 0%, transparent 60%);
                pointer-events: none;
                z-index: 2;
            }
        }
    }
}
