.portfolio-selector {
    display: flex;
    justify-content: end;
    align-items: center;

    .dropdown-toggle {
        padding-right: 0;

        &:not(.show) {
            border: 1px solid transparent;
        }
     }
}
