$setting-nav-width: 205px;

.settings-container {
    @include media-breakpoint-up(lg) {
        padding-left: $setting-nav-width;
    }
}

.settings-nav {
    margin-top: 78px;
    width: 100%;
    padding-left: $spacing-md;
    padding-right: $spacing-md;

    @include media-breakpoint-up(lg) {
        position: fixed;
        width: $setting-nav-width;
        height: 100%;
        margin-top: 0;
        padding-top: 88px;
        background-color: $color-gray-darker;
    }
}

.settings-nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.settings-nav-item {
    font-size: $font-size;
}

.settings-nav-link {
    display: flex;
    align-items: center;
    padding: 6px 10px;
    border-radius: $border-radius;
    border: 1px solid $color-gray-darker;
    color: $color-gray-lightest;
    text-decoration: none;

    &.active {
        background-color: $color-gray-light;
        border-color: $color-gray-lighter;
        color: $white;
    }

    &:hover:not(.active) {
        background-color: $color-gray;
        border-color: $color-gray-lighter;
        color: $white;
    }

    .mat-icon {
        margin-right: 10px;
        color: $primary;
        font-size: 20px;
        width: 20px;
        height: 20px;
        vertical-align: middle;
    }

    span {
        display: inline-block;
        padding-top: 1px;
        vertical-align: middle;
    }
}

