table {
    td,
    th {
        vertical-align: middle;
    }

    td.actions {
        display: flex;
        justify-content: flex-end;
        gap: $spacing-xs;
    }
}

.table,
.table-grid {
    margin-bottom: 0;

    > :not(caption) > * > th {
        padding: $spacing-md $spacing-md;
        @include h6;
    }

    .th-title {
        display: inline-flex;
        align-items: center;
        gap: $spacing-xs;
        text-decoration: none;

        .mat-icon {
            width: 16px;
            height: 16px;
            font-size: 16px;
            line-height: 16px;
            color: $color-gray-lightest;
        }
    }
}

.table-grid {
    display: grid;
    border-collapse: collapse;
    min-width: 100%;
    overflow-x: auto;

    thead,
    tbody,
    tr {
        display: contents;
    }

    td,
    th {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        &.text-end {
            align-items: flex-end;
        }

        &.actions {
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
        }
    }
}
