.tag {
    display: inline-block;
    height: 28px;
    padding: 3px 7px;
    color: $color-gray-lightest;
    border: 1px solid $color-gray-light;
    border-radius: 14px;
    font-size: $font-size-sm;
    line-height: 20px;

    &::before {
        display: inline-block;
        width: 8px;
        height: 8px;
        vertical-align: middle;
        margin-top: -3px;
        margin-right: 4px;
        border-radius: 50%;
    }

    &.tag-undefined::before {
        content: '';
        background-color: $color-gray-7;
    }

    &.tag-buy::before {
        content: '';
        background-color: $color-green;
    }

    &.tag-sell::before {
        content: '';
        background-color: $color-red;
    }

    &.tag-tax::before,
    &.tag-fee::before {
        content: '';
        background-color: $color-purple-light;
    }

    &.tag-dividend::before,
    &.tag-dividend-tax::before {
        content: '';
        background-color: $color-purple;
    }

    .close {
        background: transparent;
        border: 0;
        margin-left: 4px;
        padding: 0;

        .mat-icon {
            margin-top: 4px;
            width: $font-size-sm;
            height: $font-size-sm;
            line-height: $font-size-sm;
            font-size: $font-size-sm;
            color: $color-gray-8;
        }
    }
}
