.ticker-logo {
    width: $ticker-logo-size;
    height: $ticker-logo-size;
    border: 1px solid $color-gray-light;
    border-radius: $border-radius-lg;
    background-color: $color-black;
    margin-right: $ticker-logo-margin;

    img {
        border-radius: $border-radius-lg;
    }

    .logo-placeholder {
        position: relative;
        width: 100%;
        height: 100%;

        .logo-placeholder-text {
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: $font-size;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}
