$search-width: 352px;
$dropdown-width: 256px;

.transactions-search-wrapper {
    margin-bottom: $spacing-xl;

    .search-container {
        display: flex;
        justify-content: left;
        flex-direction: column;
        gap: $spacing-xl;;

        @include media-breakpoint-up(lg) {
            flex-direction: row;
            align-items: flex-start;
        }
    }

    .search-input {
        display: inline-block;
        width: $search-width;

        .form-control {
            width: 100%;
        }
    }

    .input-group {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        column-gap: $spacing-lg;
        row-gap: $spacing-sm;

        @include media-breakpoint-up(lg) {
            align-items: center;
            flex-direction: row;
            width: auto;
        }
    }

    label {
        color: $color-gray-lightest;
    }

    .dropdown-toggle {
        width: $dropdown-width
    }

    .form-control {
        width: $dropdown-width
    }

    .filter-group {
        display: flex;
        flex-wrap: wrap;
        column-gap: $spacing-md;
        row-gap: $spacing-sm;
    }
}

.search-input {
    position: relative;

    .clear-search {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 $spacing-sm 0 $spacing-xs;
        cursor: pointer;
        background: transparent;
        border: 0;
    }

    &:before {
        @include mat-icon('\e8b6');
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        padding-left: $spacing-sm;
        color: $color-gray-lightest;
    }

    .form-control {
        padding: 7px $spacing-sm 7px 43px;
    }

    .mat-icon {
        color: $color-gray-lightest;
        vertical-align: middle;
    }
}
