<div class="card onboarding">
    <div class="card-body">
        @if($currentStep() === OnboardingStepEnum.StepOne) {
            <fingather-onboarding-step-one />
        } @else if($currentStep() === OnboardingStepEnum.StepTwo) {

        } @else if($currentStep() === OnboardingStepEnum.StepThree) {

        }
    </div>
    <div class="card-footer">
        <a (click)="onSkip()"
           class="btn btn-secondary"
           tabindex="-1"
        >
            {{ 'app.onboarding.onboarding.skip' | translate }}
        </a>
    </div>
</div>
