<div class="card asset-detail-dividends">
    <div class="card-detail">
        <div class="row mb-4">
            <div class="col-md-8">
                <h3>{{ 'app.assets.dividends.title' | translate }}</h3>
            </div>
            <div class="col-md-4 text-end">
                <a routerLink="/transactions/add-dividend" class="btn btn-primary" tabindex="0">{{ 'app.assets.dividends.addDividend' | translate }}</a>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="width: 80%">{{ 'app.assets.dividends.date' | translate }}</th>
                <th style="width: 20%"></th>
            </tr>
            </thead>
            <tbody>
                @for (dividend of dividends ?? []; track dividend.id) {
                    <tr>
                        <td>{{dividend.actionCreated | date: 'y-MM-dd HH:mm'}}</td>
                        <td class="text-end" style="white-space: nowrap">
                            <a routerLink="/transactions/edit-dividend/{{dividend.id}}" class="btn btn-sm btn-secondary me-2" tabindex="0">
                                <mat-icon>edit</mat-icon>
                            </a>
                            <fingather-delete-button
                                (onConfirm)="deleteDividend(dividend.id)"
                                [title]="'Delete dividend'"
                                [message]="'Are you sure you want to delete dividend?'"
                            />
                        </td>
                    </tr>
                }
                @if(dividends === null) {
                    <tr>
                        <td colspan="2" class="text-center">
                            <span class="spinner-border spinner-border-lg align-center"></span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
