<div class="card asset-detail-transactions">
    <div class="card-body">
        <div class="table-header">
            <h3>{{ 'app.assets.transactions.title' | translate }}</h3>

            <a routerLink="/transactions/add-transaction" class="btn btn-primary" tabindex="0">{{ 'app.assets.transactions.addTransaction' | translate }}</a>
        </div>
        @if(transactions !== null) {
            <div class="table-responsive" scrollShadow>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="w-40">{{ 'app.assets.transactions.date' | translate }}</th>
                            <th class="w-40">{{ 'app.assets.transactions.action' | translate }}</th>
                            <th class="w-20"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(transaction of transactions; track transaction.id) {
                            <tr>
                                <td class="color-gray">
                                    <div class="text-nowrap">{{transaction.actionCreated | date: 'y-MM-dd'}}</div>
                                    <div class="small">{{transaction.actionCreated | date: 'HH:mm'}}</div>
                                </td>
                                <td>
                                    <fingather-tag [type]="transaction.actionType" />
                                </td>
                                <td class="actions">
                                    <a routerLink="/transactions/edit-transaction/{{transaction.id}}" class="btn btn-sm btn-secondary" tabindex="0">
                                        <mat-icon>edit</mat-icon>
                                    </a>

                                    <fingather-delete-button
                                        (onConfirm)="deleteTransaction(transaction.id)"
                                        [title]="'Delete transaction'"
                                        [message]="'Are you sure you want to delete transaction?'"
                                    />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>
