<div class="row">
    <div class="col-md-8">
        <h1>Users</h1>
    </div>
    <div class="col-md-4 text-end">
        <a (click)="addUser()" class="btn btn-sm btn-success" tabindex="0"><fa-icon icon="plus"></fa-icon> Add User</a>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Email</th>
            <th style="width: 30%">Name</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.email}}</td>
            <td>{{user.name}}</td>
            <td class="text-end" style="white-space: nowrap">
                <a (click)="editUser(user.id)" class="btn btn-sm btn-primary me-2" tabindex="0"><fa-icon icon="edit"></fa-icon> Edit</a>
                @if (user.id != currentUser.id) {
                    <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="user.isDeleting">
                        @if (user.isDeleting) {
                            <span class="spinner-border spinner-border-sm"></span>
                        } @else {
                            <span><fa-icon icon="trash"></fa-icon> Delete</span>
                        }
                    </button>
                }
            </td>
        </tr>
        <tr *ngIf="users.length === 0">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>
