<div class="card">
    <h4 class="card-header">{{ 'app.authentication.resetPassword.header' | translate }}</h4>
    <div class="card-body">
        @if (success()) {
            <p>{{ 'app.authentication.resetPassword.success' | translate }}</p>
            <div class="form-group text-center">
                <a routerLink="/authentication/login" class="btn btn-primary">{{ 'app.authentication.resetPassword.goToLogin' | translate }}</a>
            </div>
        } @else if (tokenInvalid()) {
            <p>{{ 'app.authentication.resetPassword.tokenInvalid' | translate }}</p>
            <div class="form-group text-center">
                <a routerLink="/authentication/forgot-password" class="btn btn-link">{{ 'app.authentication.resetPassword.requestNew' | translate }}</a>
            </div>
        } @else {
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group mb-3">
                    <label for="password">{{ 'app.authentication.resetPassword.password' | translate }}</label>
                    <input id="password" type="password" formControlName="password" class="form-control" [class.is-invalid]="submitted() && f['password'].errors" />
                    <fingather-input-validator
                        [control]="f['password']"
                        [isSubmitted]="submitted()"
                        [errorMessages]="{
                            required: 'app.authentication.resetPassword.passwordRequired',
                            minlength: 'app.authentication.resetPassword.passwordLength',
                        }"
                    />
                </div>
                <div class="form-group mb-3">
                    <label for="confirmPassword">{{ 'app.authentication.resetPassword.confirmPassword' | translate }}</label>
                    <input id="confirmPassword" type="password" formControlName="confirmPassword" class="form-control" [class.is-invalid]="submitted() && (f['confirmPassword'].errors || form.errors?.['passwordsMismatch'])" />
                    <fingather-input-validator
                        [control]="f['confirmPassword']"
                        [isSubmitted]="submitted()"
                        [errorMessages]="{
                            required: 'app.authentication.resetPassword.confirmPasswordRequired',
                        }"
                    />
                    @if (submitted() && form.errors?.['passwordsMismatch']) {
                        <div class="invalid-feedback d-block">{{ 'app.authentication.resetPassword.passwordsMismatch' | translate }}</div>
                    }
                </div>
                <div class="form-group text-center">
                    <fingather-save-button
                        [saving]="saving()"
                        [text]="'app.authentication.resetPassword.reset' | translate"
                    />
                </div>
            </form>
        }
    </div>
</div>
