parameters:
    level: 9
    phpVersion: 80300
    parallel:
        processTimeout: 300.0
    typeAliases:
        uuid: string
    paths:
       - src
       - tests

services:
    -
        class: FinGather\PhpStan\CycleReadWritePropertiesExtension
        tags:
            - phpstan.properties.readWriteExtension