includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    level: max
    phpVersion: 80300
    parallel:
        processTimeout: 300.0
    typeAliases:
        uuid: string
    paths:
       - src
       - tests
    cognitive_complexity:
        function: 12

services:
    -
        class: FinGather\PhpStan\CycleReadWritePropertiesExtension
        tags:
            - phpstan.properties.readWriteExtension