<div class="card">
    <div class="card-body">
        <table
            class="table assets-table"
            tableGrid
            [columns]="$tableGridColumns()"
            scrollShadow
        >
            <thead>
                <tr>
                    <th>
                        <a
                            class="th-title"
                            (click)="changeAssetsOrder(AssetsOrder.TickerName)"
                            tabindex="0"
                        >
                            {{ 'app.assets.list.name' | translate }}
                            @if($assetsOrder() === AssetsOrder.TickerName) {
                                <mat-icon>arrow_upward</mat-icon>
                            }
                        </a>
                    </th>
                    <th class="text-end">
                        <a
                            class="th-title"
                            (click)="changeAssetsOrder(AssetsOrder.Value)"
                            tabindex="0"
                        >
                            {{ 'app.assets.list.value' | translate }}
                            @if($assetsOrder() === AssetsOrder.Value) {
                                <mat-icon>arrow_downward</mat-icon>
                            }
                        </a>
                    </th>
                    <th class="text-end">
                        <a
                            class="th-title"
                            (click)="changeAssetsOrder(AssetsOrder.Gain)"
                            tabindex="0"
                        >
                            {{ 'app.assets.list.gain' | translate }}
                            @if($assetsOrder() === AssetsOrder.Gain) {
                                <mat-icon>arrow_downward</mat-icon>
                            }
                        </a>
                    </th>
                    <th class="text-end">
                        <a
                            class="th-title"
                            (click)="changeAssetsOrder(AssetsOrder.DividendYield)"
                            tabindex="0"
                        >
                            {{ 'app.assets.list.dividend' | translate }}
                            @if($assetsOrder() === AssetsOrder.DividendYield) {
                                <mat-icon>arrow_downward</mat-icon>
                            }
                        </a>
                    </th>
                    <th class="text-end">
                        <a
                            class="th-title"
                            (click)="changeAssetsOrder(AssetsOrder.FxImpact)"
                            tabindex="0"
                        >
                            {{ 'app.assets.list.fxImpact' | translate }}
                            @if($assetsOrder() === AssetsOrder.FxImpact) {
                                <mat-icon>arrow_downward</mat-icon>
                            }
                        </a>
                    </th>
                    <th class="text-end">
                        <a
                            class="th-title"
                            (click)="changeAssetsOrder(AssetsOrder.Return)"
                            tabindex="0"
                        >
                            {{ 'app.assets.list.return' | translate }}
                            @if($assetsOrder() === AssetsOrder.Return) {
                                <mat-icon>arrow_downward</mat-icon>
                            }
                        </a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for(asset of $assets().openAssets; track asset.id) {
                    <tr>
                        <td>
                            <div class="column-name">
                                <div class="logo-wrapper">
                                    <div
                                        class="percentage"
                                        [style.width]="asset.percentage + '%'"
                                    ></div>
                                    <fingather-ticker-logo
                                        [ticker]="asset.ticker"
                                        [width]="46"
                                        [height]="46"
                                    />
                                </div>
                                <div class="asset-text">
                                    <div>{{asset.ticker.ticker}}</div>
                                    <div class="small color-gray-lightest ellipsis">{{asset.ticker.name}}</div>
                                    <div class="smaller color-gray">{{asset.percentage}}%</div>
                                </div>
                            </div>
                        </td>
                        <td class="text-end">
                            <div>
                                <div>{{asset.value | number:'1.2-2' | money: $defaultCurrency().id | async}}</div>
                                <div class="small color-gray-lightest">{{asset.units | number:'1.0-8'}}</div>
                                <div class="smaller color-gray">{{asset.price | number:'1.2-2' | money: asset.ticker.currencyId | async}}</div>
                            </div>
                        </td>
                        <td class="text-end" [coloredValue]="asset.gain">
                            <div>{{asset.gainDefaultCurrency | number:'1.2-2' | money: $defaultCurrency().id | async}}</div>
                            <div>
                                @if ($showPerAnnum()) {
                                    {{asset.gainPercentagePerAnnum}}%&nbsp;p.a.
                                } @else {
                                    {{asset.gainPercentage}}%
                                }
                            </div>
                        </td>
                        <td class="text-end" [coloredValue]="asset.dividendYieldDefaultCurrency">
                            <div>{{asset.dividendYieldDefaultCurrency | number:'1.2-2' | money: $defaultCurrency().id | async}}</div>
                            <div>
                                @if ($showPerAnnum()) {
                                    {{asset.dividendYieldPercentagePerAnnum}}%&nbsp;p.a.
                                } @else {
                                    {{asset.dividendYieldPercentage}}%
                                }
                            </div>
                        </td>
                        <td class="text-end" [coloredValue]="asset.fxImpact">
                            <div>{{asset.fxImpact | number:'1.2-2' | money: $defaultCurrency().id | async}}</div>
                            <div>
                                @if ($showPerAnnum()) {
                                    {{asset.fxImpactPercentagePerAnnum}}%&nbsp;p.a.
                                } @else {
                                    {{asset.fxImpactPercentage}}%
                                }
                            </div>
                        </td>
                        <td class="text-end" [coloredValue]="asset.return">
                            <div><strong>{{asset.return | number:'1.2-2' | money: $defaultCurrency().id | async}}</strong></div>
                            <div>
                                @if ($showPerAnnum()) {
                                    <strong>{{asset.returnPercentagePerAnnum}}%&nbsp;p.a.</strong>
                                } @else {
                                    <strong>{{asset.returnPercentage}}%</strong>
                                }
                            </div>
                        </td>
                        <td class="actions">
                            <a routerLink="{{asset.id}}" class="btn btn-secondary">
                                <mat-icon>visibility</mat-icon>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

