@if (value()) {
    <ul class="requirements-list">
        <li [class.met]="requirements().minLength" [class.unmet]="!requirements().minLength">
            <mat-icon>{{ requirements().minLength ? 'check' : 'close' }}</mat-icon>
            {{ 'app.shared.passwordRequirements.minLength' | translate }}
        </li>
        <li [class.met]="requirements().uppercase" [class.unmet]="!requirements().uppercase">
            <mat-icon>{{ requirements().uppercase ? 'check' : 'close' }}</mat-icon>
            {{ 'app.shared.passwordRequirements.uppercase' | translate }}
        </li>
        <li [class.met]="requirements().lowercase" [class.unmet]="!requirements().lowercase">
            <mat-icon>{{ requirements().lowercase ? 'check' : 'close' }}</mat-icon>
            {{ 'app.shared.passwordRequirements.lowercase' | translate }}
        </li>
        <li [class.met]="requirements().digit" [class.unmet]="!requirements().digit">
            <mat-icon>{{ requirements().digit ? 'check' : 'close' }}</mat-icon>
            {{ 'app.shared.passwordRequirements.digit' | translate }}
        </li>
        <li [class.met]="requirements().specialChar" [class.unmet]="!requirements().specialChar">
            <mat-icon>{{ requirements().specialChar ? 'check' : 'close' }}</mat-icon>
            {{ 'app.shared.passwordRequirements.specialChar' | translate }}
        </li>
    </ul>
}
