@import 'shared/variables';
@import 'shared/bootstrap';
@import '@marekskopal/ng-scroll-shadow';
@import 'modules/mixins';
@import 'modules/font';
@import 'modules/typo';
@import 'modules/app';
@import 'modules/icons';
@import 'modules/buttons';
@import 'modules/dropdown';
@import 'modules/modals';
@import 'modules/tables';
@import 'modules/form';
@import 'modules/tag';
@import 'modules/tabs';
@import 'modules/navigation';
@import 'modules/card';
@import 'modules/portfolio-total';
@import 'modules/chart';
@import 'modules/group-chart';
@import 'modules/ticker-logo';
@import 'modules/transactions';
@import 'modules/transaction-search';
@import 'modules/pagination';
@import 'modules/portfolio-selector';
@import 'modules/assets';
@import 'modules/import';
@import 'modules/history';
@import 'modules/portfolios';
@import 'modules/groups';
@import 'modules/onboarding';
@import 'modules/widths';
@import 'modules/help';
@import 'modules/dividends';
@import 'modules/benchmark-assets';

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 47px));
    width: 366px;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--bs-secondary-color);

    &::before,
    &::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid var(--bs-border-color);
    }

    span {
        padding: 0 10px;
        font-size: 0.875rem;
    }
}

.apexcharts-tooltip {
    background-color: #2b3035 !important;
    color: #eee;
}

.apexcharts-canvas > svg {
    background-color: transparent !important;
}
