@import 'shared/variables';
@import 'shared/bootstrap';

@import 'modules/mixins';
@import 'modules/font';
@import 'modules/typo';
@import 'modules/app';
@import 'modules/icons';
@import 'modules/buttons';
@import 'modules/dropdown';
@import 'modules/tables';
@import 'modules/form';
@import 'modules/tag';
@import 'modules/tabs';
@import 'modules/navigation';
@import 'modules/card';
@import 'modules/portfolio-total';
@import 'modules/group-chart';
@import 'modules/ticker-logo';
@import 'modules/transactions';
@import 'modules/transaction-search';
@import "modules/pagination";
@import "modules/portfolio-selector";
@import "modules/assets";
@import "modules/import";

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 47px));
    width: 366px;
}

.apexcharts-tooltip {
    background-color: #2b3035 !important;
    color: #eee;
}

.apexcharts-canvas > svg {
    background-color: transparent !important;
}
