<div class="row portfolio-total">
    <div class="col-lg-3 mb-4">
        <div class="card h-100">
            <div class="card-header">
                <span class="icon-circle">
                    <mat-icon>monitoring</mat-icon>
                </span>
                <h3 class="h6">{{ 'app.shared.portfolioTotal.portfolioValue' | translate }}</h3>
            </div>
            @if (portfolioData) {
                <div class="card-body">
                    <fingather-portfolio-value-chart
                            [range]="PortfolioDataRangeEnum.All"
                            [showLabels]="false"
                    ></fingather-portfolio-value-chart>

                    <span class="value h3">{{portfolioData.value | number:'1.2-2' | currency: defaultCurrency.id | async}}</span>
                </div>
            } @else {
                <div class="card-body text-center">
                    <span class="spinner-border spinner-border-lg"></span>
                </div>
            }
        </div>
    </div>

    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card h-100">
                    <div class="card-header">
                        <span class="icon-circle">
                            <mat-icon>candlestick_chart</mat-icon>
                        </span>
                        <h3 class="h6">{{ 'app.shared.portfolioTotal.gain' | translate }}</h3>
                    </div>
                    @if (portfolioData) {
                        <div class="card-body">
                            <div class="value h3">
                                {{portfolioData.gain | number:'1.2-2' | currency: defaultCurrency.id | async}}
                            </div>
                            <div [coloredValue]="portfolioData.gain">
                                {{portfolioData.gainPercentage | number:'1.2-2'}}%
                            </div>
                            <div [coloredValue]="portfolioData.gain">
                                {{portfolioData.gainPercentagePerAnnum | number:'1.2-2'}}%&nbsp;p.a.
                            </div>
                        </div>
                    } @else {
                        <div class="card-body text-center">
                            <span class="spinner-border spinner-border-lg"></span>
                        </div>
                    }
                </div>
            </div>

            <div class="col-lg-6 mb-4">
                <div class="card h-100">
                    <div class="card-header">
                        <span class="icon-circle">
                            <mat-icon>savings</mat-icon>
                        </span>
                        <h3 class="h6">{{ 'app.shared.portfolioTotal.gainRealized' | translate }}</h3>
                    </div>
                    @if (portfolioData) {
                        <div class="card-body">
                            <div class="value h3">
                                {{portfolioData.realizedGain | number:'1.2-2' | currency: defaultCurrency.id | async}}
                            </div>
                        </div>
                    } @else {
                        <div class="card-body text-center">
                            <span class="spinner-border spinner-border-lg"></span>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card h-100">
                    <div class="card-header">
                        <span class="icon-circle">
                            <mat-icon>wallet</mat-icon>
                        </span>
                        <h3 class="h6">{{ 'app.shared.portfolioTotal.investedValue' | translate }}</h3>
                    </div>
                    @if (portfolioData) {
                        <div class="card-body">
                            <div class="value h3">
                                {{portfolioData.transactionValue | number:'1.2-2' | currency: defaultCurrency.id | async}}
                            </div>
                        </div>
                    } @else {
                        <div class="card-body text-center">
                            <span class="spinner-border spinner-border-lg"></span>
                        </div>
                    }
                </div>
            </div>

            <div class="col-lg-6 mb-4">
                <div class="card h-100">
                    <div class="card-header">
                        <span class="icon-circle">
                            <mat-icon>attach_money</mat-icon>
                        </span>
                        <h3 class="h6">{{ 'app.shared.portfolioTotal.fxImpact' | translate }}</h3>
                    </div>
                    @if (portfolioData) {
                        <div class="card-body">
                            <div class="value h3">
                                {{portfolioData.fxImpact | number:'1.2-2' | currency: defaultCurrency.id | async}}
                            </div>
                            <div [coloredValue]="portfolioData.fxImpact">
                                {{portfolioData.fxImpactPercentage | number:'1.2-2'}}%
                            </div>
                            <div [coloredValue]="portfolioData.fxImpact">
                                {{portfolioData.fxImpactPercentagePerAnnum | number:'1.2-2'}}%&nbsp;p.a.
                            </div>
                        </div>
                    } @else {
                        <div class="card-body text-center">
                            <span class="spinner-border spinner-border-lg"></span>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card h-100">
                    <div class="card-header">
                        <span class="icon-circle">
                            <mat-icon>calendar_month</mat-icon>
                        </span>
                        <h3 class="h6">{{ 'app.shared.portfolioTotal.dividend' | translate }}</h3>
                    </div>
                    @if (portfolioData) {
                        <div class="card-body">
                            <div class="value h3">
                                {{portfolioData.dividendYield | number:'1.2-2' | currency: defaultCurrency.id | async}}
                            </div>
                            <div [coloredValue]="portfolioData.fxImpact">
                                {{portfolioData.dividendYieldPercentage | number:'1.2-2'}}%
                            </div>
                            <div [coloredValue]="portfolioData.fxImpact">
                                {{portfolioData.dividendYieldPercentagePerAnnum | number:'1.2-2'}}%&nbsp;p.a.
                            </div>
                        </div>
                    } @else {
                        <div class="card-body text-center">
                            <span class="spinner-border spinner-border-lg"></span>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card h-100">
                    <div class="card-header">
                        <span class="icon-circle">
                            <mat-icon>account_balance</mat-icon>
                        </span>
                        <h3 class="h6">{{ 'app.shared.portfolioTotal.taxFee' | translate }}</h3>
                    </div>
                    @if (portfolioData) {
                        <div class="card-body">
                            <table class="tax-fee w-100">
                                <tbody>
                                    <tr class="color-gray">
                                        <td>{{ 'app.shared.portfolioTotal.tax' | translate }}</td>
                                        <td class="text-end">{{portfolioData.tax | number:'1.2-2' | currency: defaultCurrency.id | async}}</td>
                                    </tr>
                                    <tr class="color-gray">
                                        <td>{{ 'app.shared.portfolioTotal.fee' | translate }}</td>
                                        <td class="text-end">{{portfolioData.fee | number:'1.2-2' | currency: defaultCurrency.id | async}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ 'app.shared.portfolioTotal.total' | translate }}</td>
                                        <td class="text-end">{{parseFloat(portfolioData.tax) + parseFloat(portfolioData.fee) | number:'1.2-2' | currency: defaultCurrency.id | async}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    } @else {
                        <div class="card-body text-center">
                            <span class="spinner-border spinner-border-lg"></span>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
