<div ngbDropdown>
    <button type="button" id="type" ngbDropdownToggle>
        @if(value) {
            <span class="ellipsis">{{value.label}}</span>
        } @else {
            <span>{{ $placeholder() }}</span>
        }
    </button>
    <div ngbDropdownMenu aria-labelledby="type">
        @for(item of $items(); track item.key) {
            <button type="button" ngbDropdownItem (click)="onSelect(item.key)">
                {{ item.label }}
            </button>
        }
    </div>
</div>
