<div class="header row">
    <div class="col-md-3 order-md-2 text-end">
        <fingather-portfolio-selector />
    </div>
    <div class="col-md-9 order-md-0">
        <h1 class="h3">{{ 'app.transactions.import.import.title' | translate }}</h1>
        <a routerLink=".." class="btn-link" tabindex="0">
            <mat-icon>chevron_left</mat-icon>
            {{ 'app.transactions.list.title' | translate }}
        </a>
    </div>
</div>

<div class="content-center">
    <div class="card form-wider">
        <div class="card-body">
            <fingather-import (onImportFinish)="onImportFinish()" />
        </div>
    </div>
</div>

