<div class="header">
    <div>
        <h1 class="h3">{{ 'app.transactions.import.import.title' | translate }}</h1>

        <a routerLink=".." class="btn-link" tabindex="0">
            <mat-icon>chevron_left</mat-icon>
            {{ 'app.transactions.list.title' | translate }}
        </a>
    </div>

    <div class="header-controls d-none d-lg-block">
        <fingather-portfolio-selector />
    </div>
</div>

<div class="content-center">
    <div class="card form-wider">
        <div class="card-body">
            <fingather-import (afterImportFinish)="afterImportFinish()" />
        </div>
    </div>
</div>

