<div class="portfolio-value-chart">
    @if (!this.loading()) {
        <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
            [yaxis]="chartOptions.yaxis"
            [dataLabels]="chartOptions.dataLabels"
            [grid]="chartOptions.grid"
            [stroke]="chartOptions.stroke"
            [legend]="chartOptions.legend"
            [theme]="chartOptions.theme"
            [fill]="chartOptions.fill"
            [colors]="chartOptions.colors"
        />
    } @else {
        <div class="skeleton skeleton-chart-placeholder" [style.height]="height()" aria-hidden="true"></div>
    }
</div>

