@if (groupsWithGroupData(); as groupsWithGroupData) {
    <fingather-dashboard-group-chart
        [groupsWithGroupData]="groupsWithGroupData"
    />

    <div class="table-responsive" scrollShadow>
        <table class="table">
            <thead>
                <tr>
                    <th class="w-22">{{ 'app.dashboard.groupsAllocation.group' | translate }}</th>
                    <th class="w-13">{{ 'app.dashboard.groupsAllocation.allocation' | translate }}</th>
                    <th class="w-13 text-end">{{ 'app.dashboard.groupsAllocation.value' | translate }}</th>
                    <th class="w-13 text-end">{{ 'app.dashboard.groupsAllocation.gain' | translate }}</th>
                    <th class="w-13 text-end">{{ 'app.dashboard.groupsAllocation.dividend' | translate }}</th>
                    <th class="w-13 text-end">{{ 'app.dashboard.groupsAllocation.fxImpact' | translate }}</th>
                    <th class="w-13 text-end">{{ 'app.dashboard.groupsAllocation.return' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                @for (group of groupsWithGroupData; track group.id) {
                    <tr>
                        <td class="color-gray">{{group.name}}</td>
                        <td class="color-gray"><strong>{{group.percentage | number:'1.2-2'}}%</strong></td>
                        <td class="text-end color-gray">{{group.groupData.value | number:'1.2-2' | money: defaultCurrency.id | async}}</td>
                        <td class="text-end" [coloredValue]="group.groupData.gain">
                            <div>{{group.groupData.gain | number:'1.2-2' | money: defaultCurrency.id | async}}</div>
                            <div>{{group.groupData.gainPercentage}}%</div>
                        </td>
                        <td class="text-end" [coloredValue]="group.groupData.dividendYield">
                            <div>{{group.groupData.dividendYield | number:'1.2-2' | money: defaultCurrency.id | async}}</div>
                            <div>{{group.groupData.dividendYieldPercentage}}%</div>
                        </td>
                        <td class="text-end" [coloredValue]="group.groupData.fxImpact">
                            <div>{{group.groupData.fxImpact | number:'1.2-2' | money: defaultCurrency.id | async}}</div>
                            <div>{{group.groupData.fxImpactPercentage}}%</div>
                        </td>
                        <td class="text-end" [coloredValue]="group.groupData.return">
                            <div><strong>{{group.groupData.return | number:'1.2-2' | money: defaultCurrency.id | async}}</strong></div>
                            <div><strong>{{group.groupData.returnPercentage}}%</strong></div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
} @else {
    <span class="spinner-border spinner-border-lg align-center"></span>
}

