<div class="card">
    <div class="card-body">
        <table
            class="table assets-table"
            tableGrid
            [columns]="tableGridColumns"
            scrollShadow
        >
            <thead>
                <tr>
                    <th>{{ 'app.assets.list.name' | translate }}</th>
                    <th class="text-end">{{ 'app.assets.list.price' | translate }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if ($assets(); as assets) {
                    @for (asset of assets.watchedAssets; track asset.id) {
                        <tr>
                            <td>
                                <div class="column-name">
                                    <div class="logo-wrapper">
                                        <fingather-ticker-logo
                                            [ticker]="asset.ticker"
                                            [width]="46"
                                            [height]="46"
                                        />
                                    </div>
                                    <div class="asset-text">
                                        <div>{{asset.ticker.ticker}}</div>
                                        <div class="small color-gray-lightest ellipsis">{{asset.ticker.name}}</div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-end">
                                <div>
                                    <div class="smaller color-gray">{{asset.price | number:'1.2-2' | money: asset.ticker.currencyId | async}}</div>
                                </div>
                            </td>
                            <td class="actions">
                                <a routerLink="{{asset.id}}" class="btn btn-secondary">
                                    <mat-icon>visibility</mat-icon>
                                </a>
                            </td>
                        </tr>
                    }
                } @else {
                    <tr>
                        <td colspan="9" class="text-center">
                            <span class="spinner-border spinner-border-lg align-center"></span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

