<nav
    class="pagination-container"
>
    <ul class="pagination">
        <li class="page-item page-item-previous">
            <a class="page-link"
               [class.disabled]="currentPage() === 1"
               tabindex="0"
               (click)="onSelectPage(currentPage() - 1)"
            >
                <mat-icon>arrow_left_alt</mat-icon>
                <span>{{ 'app.shared.pagination.previous' | translate }}</span>
            </a>
        </li>

        @for(page of pages(); track page) {
            <li class="page-item">
                @if(!isDelimiterPage(page)) {
                    <a class="page-link"
                       [class.active]="page === currentPage()"
                       (click)="onSelectPage(page)"
                       tabindex="0"
                    >{{page}}</a>
                } @else {
                    <span class="page-link">{{page}}</span>
                }
            </li>
        }

        <li class="page-item page-item-next">
            <a class="page-link"
               tabindex="0"
               [class.disabled]="currentPage() === pagesCount()"
               (click)="onSelectPage(currentPage() + 1)"
            >
                <span>{{ 'app.shared.pagination.next' | translate }}</span>
                <mat-icon>arrow_right_alt</mat-icon>
            </a>
        </li>
    </ul>

    <div class="pagination-per-page">
        {{ 'app.shared.pagination.recordsPerPage' | translate }}

        <div ngbDropdown placement="top-end" class="d-inline-block">
            <button type="button" id="recordsPerPage" ngbDropdownToggle>
                {{ pageSize() }}
            </button>
            <div ngbDropdownMenu aria-labelledby="recordsPerPage">
                @for(pageSizeOption of pageSizeOptions(); track pageSizeOption) {
                    <button ngbDropdownItem (click)="changePageSize(pageSizeOption)">
                        {{pageSizeOption}}
                    </button>
                }
            </div>
        </div>
    </div>

    <div class="pagination-total">
        {{ 'app.shared.pagination.total' | translate }} {{totalItems()}} {{ 'app.shared.pagination.records' | translate }}
    </div>
</nav>
