<div class="header">
    <div>
        @if (asset) {
            <h1 class="h3">{{asset.ticker.ticker}}</h1>
        }

        <a routerLink=".." class="btn-link" tabindex="0">
            <mat-icon>chevron_left</mat-icon>
            {{ 'app.assets.list.title' | translate }}
        </a>
    </div>

    <div class="header-controls d-none d-lg-block">
        <fingather-portfolio-selector />
    </div>
</div>

@if (asset) {
    <div class="asset-detail">
        <div class="asset-detail-header">
            <fingather-ticker-logo
                [ticker]="asset.ticker"
                [width]="96"
                [height]="96"
            />

            <div class="asset-detail-header-info">
                <div class="ticker-ticker h4">{{asset.ticker.ticker}}</div>
                <div class="ticker-name">{{asset.ticker.name}}</div>
                <div class="ticker-market">
                    <span class="tag">{{asset.ticker.market.mic}}</span>
                    <span>{{asset.ticker.currencyId | currencyCode | async}}</span>
                    <span class="tag">{{asset.ticker.type}}</span>
                </div>
            </div>
        </div>

        <fingather-asset-charts
            [asset]="asset"
        />

        <fingather-asset-value
            [asset]="asset"
            [defaultCurrency]="defaultCurrency"
        />

        <div class="card asset-detail-info">
            <div class="body">
                <div class="asset-detail-about">
                    @if(asset.ticker.description !== null) {
                        <h3>
                            {{ 'app.assets.detail.about' | translate }}
                        </h3>
                        <p>{{asset.ticker.description}}</p>
                    }
                </div>

                <fingather-ticker-fundamentals [tickerId]="asset.ticker.id" />
            </div>
        </div>

        <fingather-transaction-list
            [asset]="asset"
        />

        <fingather-dividend-list
            [asset]="asset"
        />
    </div>
}
