<h3 class="h6 mb-4">
    <span class="icon-circle">2</span>
    {{ 'app.transactions.import.import.selectTicker' | translate }}
</h3>

@if (objectValues($multipleFoundTickers()).length === 0) {
    <p>{{ 'app.transactions.import.import.allTickersSelectedAutomatically' | translate }}</p>
}
<div class="import-prepare">
    <table class="table">
    @for (importPrepareTicker of objectValues($multipleFoundTickers()); track importPrepareTicker) {
        <tr>
            <td>{{ importPrepareTicker.ticker }}</td>
            <td>
                <fingather-ticker-selector
                    [tickers]="importPrepareTicker.tickers"
                    [selectedTickerId]="$selectedTickers()[importPrepareTicker.brokerId + '-' + importPrepareTicker.ticker]"
                    (onChangeTicker)="onChangeTicker($event, importPrepareTicker.brokerId + '-' + importPrepareTicker.ticker)"
                />
            </td>
        </tr>
    }
    </table>

    <div class="form-group">
        <a routerLink="/transactions" class="btn btn-secondary">
            {{ 'app.common.cancel' | translate }}
        </a>

        <button
            class="btn btn-primary"
            (click)="createImport()"
        >
            {{ 'app.transactions.import.import.import' | translate }}
        </button>
    </div>
</div>
