<h1>Groups</h1>
<a (click)="addGroup()" class="btn btn-sm btn-success mb-2">Add Group</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 80%">Name</th>
            <th style="width: 20%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let group of groups">
            <td>{{group.name}}</td>
            <td style="white-space: nowrap">
                <a (click)="editGroup(group.id)" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteGroup(group.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="group.isDeleting">
                  <span *ngIf="group.isDeleting" class="spinner-border spinner-border-sm"></span>
                  <span *ngIf="!group.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!groups">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>
