<button
    (click)="delete()"
    class="btn"
    [class.btn-secondary]="!showAsLink()"
    [class.btn-link]="showAsLink()"
    [disabled]="isDeleting()"
>
    @if(showText()) {
        @if(text() !== null) {
            <span>{{ text() }}</span>
        } @else {
            <span>{{ 'app.common.delete' | translate }}</span>
        }
    }

    @if(!showAsLink()) {
        @if (isDeleting()) {
            <mat-spinner [diameter]="24" />
        } @else {
            <mat-icon>delete</mat-icon>
        }
    }
</button>
