<h3 class="h6">
    <span class="icon-circle icon-circle-small">1</span>
    <span>{{ 'app.transactions.import.import.importFiles' | translate }}</span>
</h3>

<form
    class="import-form"
>
    <ngx-file-drop
        dropZoneLabel="Drop files here"
        dropZoneClassName="file-drop" (onFileDrop)="onFileDropped($event)" accept=".csv,.xlsx"
    >
        <ng-template
            ngx-file-drop-content-tmp
            let-openFileSelector="openFileSelector"
        >
            <div class="file-drop-text-wrapper">
                <div class="file-drop-text">
                    {{ 'app.transactions.import.import.fileDropText' | translate }}
                </div>
                <button
                    type="button"
                    class="btn btn-primary"
                    (click)="openFileSelector()"
                >
                    <mat-icon>folder_open</mat-icon>
                    <span>{{ 'app.transactions.import.import.fileDropButton' | translate }}</span>
                </button>
            </div>
        </ng-template>
    </ngx-file-drop>
    @if (droppedFiles.length > 0) {
        <div class="import-file-wrapper">
            @for (droppedFile of droppedFiles; track droppedFile) {
                <fingather-import-file
                    [importId]="$importId()"
                    [droppedFile]="droppedFile"
                    (onUploadFinish)="onFileUploaded($event)"
                />
            }
        </div>
    }

    @if ($importPrepares().length === 0) {
        @if ($showCancel()) {
            <a routerLink="/transactions" class="btn btn-secondary">{{ 'app.common.cancel' | translate }}</a>
        }
    }
</form>

@if ($importPrepares().length > 0) {
    <fingather-import-prepare
        [importPrepares]="$importPrepares()"
        [showCancel]="$showCancel()"
        (onImportFinish)="onImportFinish$"
    />
}
