<div class="header">
    <h1 class="h3">{{ 'app.users.list.title' | translate }}</h1>

    <div class="header-controls">
        <a routerLink="add-user" class="btn btn-primary" tabindex="0">
            <mat-icon>add</mat-icon>
            <span> {{ 'app.users.list.addUser' | translate }}</span>
        </a>

        <div class="d-none d-lg-block">
            <fingather-portfolio-selector />
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        @if(users() !== null) {
            <div class="table-responsive" scrollShadow>
                <table class="table">
                    <thead>
                        <tr>
                            <th>{{ 'app.users.list.id' | translate }}</th>
                            <th>{{ 'app.users.list.email' | translate }}</th>
                            <th (click)="changeSort(UserOrderBy.Id)" class="sortable">
                                <span>
                                    {{ 'app.users.list.id' | translate }}
                                    @if (sortBy === UserOrderBy.Id) {
                                        <mat-icon>
                                            {{ sortDirection === OrderDirection.Asc ? 'arrow_upward' : 'arrow_downward' }}
                                        </mat-icon>
                                    } @else {
                                        <mat-icon>expand_all</mat-icon>
                                    }
                                </span>
                            </th>
                            <th (click)="changeSort(UserOrderBy.Email)" class="sortable">
                                <span>
                                    {{ 'app.users.list.email' | translate }}
                                    @if (sortBy === UserOrderBy.Email) {
                                        <mat-icon>
                                            {{ sortDirection === OrderDirection.Asc ? 'arrow_upward' : 'arrow_downward' }}
                                        </mat-icon>
                                    } @else {
                                        <mat-icon>expand_all</mat-icon>
                                    }
                                </span>
                            </th>
                            <th>{{ 'app.users.list.assets' | translate }}</th>
                            <th>{{ 'app.users.list.transactions' | translate }}</th>
                            <th (click)="changeSort(UserOrderBy.LastLoggedIn)" class="sortable">
                                <span>
                                    {{ 'app.users.list.lastLoggedIn' | translate }}
                                    @if (sortBy === UserOrderBy.LastLoggedIn) {
                                        <mat-icon>
                                            {{ sortDirection === OrderDirection.Asc ? 'arrow_upward' : 'arrow_downward' }}
                                        </mat-icon>
                                    } @else {
                                        <mat-icon>expand_all</mat-icon>
                                    }
                                </span>
                            </th>
                            <th (click)="changeSort(UserOrderBy.LastRefreshTokenGenerated)" class="sortable">
                                <span>
                                    {{ 'app.users.list.lastRefreshTokenGenerated' | translate }}
                                    @if (sortBy === UserOrderBy.LastRefreshTokenGenerated) {
                                        <mat-icon>
                                            {{ sortDirection === OrderDirection.Asc ? 'arrow_upward' : 'arrow_downward' }}
                                        </mat-icon>
                                    } @else {
                                        <mat-icon>expand_all</mat-icon>
                                    }
                                </span>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(user of users()?.users ?? []; track user.id) {
                            <tr>
                                <td>{{user.id}}</td>
                                <td>
                                    <div>{{user.email}}</div>
                                    <div class="small">{{user.name}}</div>
                                </td>
                                <td>{{user.assetCount}}</td>
                                <td>{{user.transactionCount}}</td>
                                <td>
                                    @if (user.lastLoggedIn) {
                                        <div class="text-nowrap">{{user.lastLoggedIn | date: 'y-MM-dd'}}</div>
                                        <div class="small">{{user.lastLoggedIn | date: 'HH:mm'}}</div>
                                    } @else {
                                        {{ 'app.users.list.never' | translate }}
                                    }
                                </td>
                                <td>
                                    @if (user.lastRefreshTokenGenerated) {
                                        <div class="text-nowrap">{{user.lastRefreshTokenGenerated | date: 'y-MM-dd'}}</div>
                                        <div class="small">{{user.lastRefreshTokenGenerated | date: 'HH:mm'}}</div>
                                    } @else {
                                        {{ 'app.users.list.never' | translate }}
                                    }
                                </td>
                                <td class="actions">
                                    <a routerLink="edit-user/{{user.id}}" class="btn btn-secondary" tabindex="0">
                                        <mat-icon>edit</mat-icon>
                                    </a>
                                    @if (user.id !== currentUser.id) {
                                        <fingather-delete-button
                                            (confirm)="deleteUser(user.id)"
                                            [title]="'Delete user ' + user.name"
                                            [message]="'Are you sure you want to delete user ' + user.name + '?'"
                                        />
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        <fingather-pagination
            [totalItems]="users() !== null ? (users()?.count ?? 0) : 0"
            [defaultPageSize]="pageSize"
            (afterSelectPage)="changePage($event)"
            (afterChangePageSize)="changePageSize($event)"
        />
    </div>
</div>
