<div class="header">
    <h1 class="h3">{{ 'app.users.list.title' | translate }}</h1>

    <div class="header-controls">
        <a routerLink="add-user" class="btn btn-primary" tabindex="0">
            <mat-icon>add</mat-icon>
            <span> {{ 'app.users.list.addUser' | translate }}</span>
        </a>

        <div class="d-none d-lg-block">
            <fingather-portfolio-selector />
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        @if(users().length >= 0) {
            <div class="table-responsive" scrollShadow>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="w-20">{{ 'app.users.list.email' | translate }}</th>
                            <th class="w-20">{{ 'app.users.list.name' | translate }}</th>
                            <th class="w-20">{{ 'app.users.list.assets' | translate }}</th>
                            <th class="w-20">{{ 'app.users.list.transactions' | translate }}</th>
                            <th class="w-20"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(user of users(); track user.id) {
                            <tr>
                                <td>{{user.email}}</td>
                                <td>{{user.name}}</td>
                                <td>{{user.assetCount}}</td>
                                <td>{{user.transactionCount}}</td>
                                <td class="actions">
                                    <a routerLink="edit-user/{{user.id}}" class="btn btn-secondary" tabindex="0">
                                        <mat-icon>edit</mat-icon>
                                    </a>
                                    @if (user.id !== currentUser.id) {
                                        <fingather-delete-button
                                            (confirm)="deleteUser(user.id)"
                                            [title]="'Delete user ' + user.name"
                                            [message]="'Are you sure you want to delete user ' + user.name + '?'"
                                        />
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>
