<div class="row">
    <div class="col-md-8">
        <h1>{{ 'app.users.list.title' | translate }}</h1>
    </div>
    <div class="col-md-4 text-end">
        <a (click)="addUser()" class="btn btn-sm btn-success" tabindex="0">
            <mat-icon>add</mat-icon> {{ 'app.users.list.addUser' | translate }}
        </a>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">{{ 'app.users.list.email' | translate }}</th>
            <th style="width: 30%">{{ 'app.users.list.name' | translate }}</th>
            <th style="width: 30%">{{ 'app.users.list.assets' | translate }}</th>
            <th style="width: 30%">{{ 'app.users.list.transactions' | translate }}</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.email}}</td>
            <td>{{user.name}}</td>
            <td>{{user.assetCount}}</td>
            <td>{{user.transactionCount}}</td>
            <td class="text-end" style="white-space: nowrap">
                <a (click)="editUser(user.id)" class="btn btn-sm btn-primary me-2" tabindex="0">
                    <mat-icon>edit</mat-icon> {{ 'app.common.edit' | translate }}
                </a>
                @if (user.id !== currentUser.id) {
                    <fingather-delete-button
                        (onConfirm)="deleteUser(user.id)"
                        [title]="'Delete user ' + user.name"
                        [message]="'Are you sure you want to delete user ' + user.name + '?'"
                    />
                }
            </td>
        </tr>
        <tr *ngIf="users.length === 0">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>
