<div class="ticker-selector" ngbDropdown>
    <button type="button" id="tickerSelector" ngbDropdownToggle>
        <span>
            @if ($selectedTicker(); as selectedTicker) {
                <span>{{ selectedTicker.name }}</span><span class="tag">{{selectedTicker.market.mic}}</span>
            } @else if($placeholder()) {
                <span>{{ $placeholder() }}</span>
            } @else {
                <span>{{ 'app.common.choose' | translate }}</span>
            }
        </span>
    </button>
    <div ngbDropdownMenu aria-labelledby="tickerSelector">
        @for(ticker of $tickers(); track ticker.id) {
            <button ngbDropdownItem (click)="changeTicker(ticker)">
                <span>{{ ticker.name }}</span><span class="tag">{{ticker.market.mic}}</span>
            </button>
        }
    </div>
</div>
