<div class="header row">
    <div class="col-md-3 order-md-1 text-end">
        <fingather-portfolio-selector />
    </div>
    <div class="col-md-9 order-md-0">
        <h1 class="h3">{{ 'app.dividends.dividends-history.title' | translate }}</h1>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <ul class="nav nav-tabs">
            @for (range of ranges; track range.range) {
                <li class="nav-item">
                    <a
                        (click)="changeActiveRange(range.range)"
                        class="nav-link"
                        [class.active]="range.range === activeRange"
                        tabindex="0"
                    >
                        @if(range.number !== null){{{range.number}}}{{ range.text | translate }}
                    </a>
                </li>
            }
        </ul>

        <fingather-dividends-data-chart
            [range]="activeRange"
        />
    </div>
</div>
