@if (form) {
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-group col">
                <label for="name">{{ 'app.onboarding.portfolioForm.name' | translate }}</label>
                <input (change)="onSubmit()" id="name" type="text" formControlName="name" class="form-control" [class.is-invalid]="$submitted() && f['name'].errors" />
                <fingather-input-validator
                    [control]="f['name']"
                    [isSubmitted]="$submitted()"
                    [errorMessages]="{
                        required: 'app.onboarding.portfolioForm.nameRequired',
                    }"
                />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col">
                <label for="currencyId" class="form-label">{{ 'app.onboarding.portfolioForm.currency' | translate }}</label>
                <fingather-select
                    id="currencyId"
                    formControlName="currencyId"
                    [items]="currencies"
                    (change)="onSubmit()"
                />
                <fingather-input-validator
                    [control]="f['currencyId']"
                    [isSubmitted]="$submitted()"
                    [errorMessages]="{
                        required: 'app.onboarding.portfolioForm.currencyRequired',
                    }"
                />
            </div>
        </div>
    </form>
}
