<div id="chart">
    @if (!this.loading()) {
        <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [dataLabels]="chartOptions.dataLabels"
            [stroke]="chartOptions.stroke"
            [xaxis]="chartOptions.xaxis"
            [yaxis]="chartOptions.yaxis"
            [annotations]="chartOptions.annotations"
            [title]="chartOptions.title"
            [theme]="chartOptions.theme"
            [fill]="chartOptions.fill"
            [grid]="chartOptions.grid"
            [colors]="chartOptions.colors"
        />
    } @else {
        <span class="spinner-border spinner-border-sm mr-1"></span>
    }
</div>
