<div class="card transactions-search-wrapper">
    <div class="card-body">
        <div class="search-container">
            <div class="input-group">
                <label for="search">
                    {{ 'app.transactions.search.search' | translate }}
                </label>

                <fingather-search-input
                    (onKeyup)="searchTransactions($event)"
                />
            </div>
            <div class="input-group">
                <label>{{ 'app.transactions.search.filterBy' | translate }}</label>

                <div class="filter-group">
                    <div ngbDropdown class="d-inline-block">
                        <button type="button" id="type" ngbDropdownToggle>
                            @if(selectedType) {
                                {{selectedType}}
                            } @else {
                                {{ 'app.transactions.search.type' | translate }}
                            }
                        </button>
                        <div ngbDropdownMenu aria-labelledby="type">
                            <button ngbDropdownItem (click)="selectType(null)">
                                {{ 'app.transactions.search.all' | translate }}
                            </button>
                            @for(transactionActionType of transactionActionTypes; track transactionActionType) {
                                <button ngbDropdownItem (click)="selectType(transactionActionType)">
                                    <fingather-tag [type]="transactionActionType" />
                                </button>
                            }
                        </div>
                    </div>

                    <div
                        class="date-input"
                        (click)="dateClick($event)"
                    >
                        <input
                            type="text"
                            id="created"
                            name="created"
                            class="form-control"
                            placeholder="{{ 'app.transactions.search.createdDate' | translate }}"
                            onfocus="(this.type='date')"
                            onblur="(this.type='text')"
                            (change)="selectCreated($event)"
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
