<div class="modal-body">
    <div class="confirm-dialog">
        <div class="icon-circle">
            <mat-icon>delete</mat-icon>
        </div>
        <div class="message">
            <h6>{{ title() }}</h6>
            <p>{{ message() }}</p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="decline()">
        @if(buttonCancelText()) {
            {{ buttonCancelText() }}
        } @else {
            {{ 'app.common.cancel' | translate }}
        }
    </button>
    <button type="button" class="btn btn-danger" (click)="accept()">
        @if(buttonOkText()) {
            {{ buttonOkText() }}
        } @else {
            {{ 'app.common.ok' | translate }}
        }
    </button>
</div>
