<div class="row header">
    <div class="col-md-3 order-md-2 text-end">
        <fingather-portfolio-selector />
    </div>
    <div class="col-md-5 order-md-0">
        <h1 class="h3">{{ 'app.assets.list.title' | translate }}</h1>
    </div>
    <div class="col-md-4 order-md-1 text-end">
        <a (click)="addAsset()" class="btn btn-sm btn-success" tabindex="0">
            <mat-icon>add</mat-icon> {{ 'app.assets.list.addAsset' | translate }}
        </a>
    </div>
</div>

<ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav nav-tabs" role="tablist">
    <li [ngbNavItem]="'open-positions'">
        <button ngbNavLink>
            {{ 'app.assets.list.openPositions' | translate }}
        </button>
        <ng-template ngbNavContent>
            <div class="form-check form-switch">
                <input (change)="changeWithGroups()" class="form-check-input" type="checkbox" role="switch" id="withGroups">
                <label class="form-check-label" for="withGroups">{{ 'app.assets.list.withGroups' | translate }}</label>
            </div>
            <div class="form-check form-switch">
                <input (change)="changeShowPerAnnum()" class="form-check-input" type="checkbox" role="switch" id="showPerAnnum">
                <label class="form-check-label" for="showPerAnnum">{{ 'app.assets.list.showPerAnnum' | translate }}</label>
            </div>

            @if (openedGroupedAssets !== null) {
                <fingather-opened-grouped-assets
                    [openedGroupedAssets]="openedGroupedAssets"
                    [assetsOrder]="openedAssetsOrderBy"
                    [showPerAnnum]="$showPerAnnum()"
                    [defaultCurrency]="defaultCurrency"
                    (changeAssetsOrder)="changeOpenedAssetsOrderBy($event)"
                />
            } @else if (assetsWithProperties !== null) {
                <fingather-opened-assets
                    [assets]="assetsWithProperties"
                    [assetsOrder]="openedAssetsOrderBy"
                    [showPerAnnum]="$showPerAnnum()"
                    [defaultCurrency]="defaultCurrency"
                    (changeAssetsOrder)="changeOpenedAssetsOrderBy($event)"
                />
            } @else {
                <span class="spinner-border spinner-border-lg align-center"></span>
            }
        </ng-template>
    </li>
    <li [ngbNavItem]="'closed-positions'">
        <button ngbNavLink>
            {{ 'app.assets.list.closedPositions' | translate }}
        </button>
        <ng-template ngbNavContent>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 50%">{{ 'app.assets.list.name' | translate }}</th>
                            <th style="width: 30%">{{ 'app.assets.list.price' | translate }}</th>
                            <th style="width: 20%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (assetsWithProperties !== null) {
                            @for (asset of assetsWithProperties.closedAssets; track asset.id) {
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <fingather-ticker-logo [ticker]="asset.ticker" />
                                            <div>
                                                <div><strong>{{asset.ticker.ticker}}</strong></div>
                                                <div>{{asset.ticker.name}}</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-end">{{asset.price | number:'1.2-2' | currency: asset.ticker.currencyId | async}}</td>
                                    <td class="text-end" style="white-space: nowrap">
                                        <a routerLink="{{asset.id}}" class="btn btn-sm btn-primary mr-1">
                                            <mat-icon>visibility</mat-icon> {{ 'app.assets.list.detail' | translate }}
                                        </a>
                                    </td>
                                </tr>
                            }
                        } @else {
                            <tr>
                                <td colspan="9" class="text-center">
                                    <span class="spinner-border spinner-border-lg align-center"></span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </ng-template>
    </li>
    <li [ngbNavItem]="'watch-list'">
        <button ngbNavLink>
            {{ 'app.assets.list.watchList' | translate }}
        </button>
        <ng-template ngbNavContent>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 50%">{{ 'app.assets.list.name' | translate }}</th>
                            <th style="width: 30%">{{ 'app.assets.list.price' | translate }}</th>
                            <th style="width: 20%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (assetsWithProperties !== null) {
                            @for (asset of assetsWithProperties.watchedAssets; track asset.id) {
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <fingather-ticker-logo [ticker]="asset.ticker" />
                                            <div>
                                                <div><strong>{{asset.ticker.ticker}}</strong></div>
                                                <div>{{asset.ticker.name}}</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-end">{{asset.price | number:'1.2-2' | currency: asset.ticker.currencyId | async}}</td>
                                    <td class="text-end" style="white-space: nowrap">
                                        <a routerLink="{{asset.id}}" class="btn btn-sm btn-primary mr-1">
                                            <mat-icon>visibility</mat-icon> {{ 'app.assets.list.detail' | translate }}
                                        </a>
                                    </td>
                                </tr>
                            }
                        } @else {
                            <tr>
                                <td colspan="9" class="text-center">
                                    <span class="spinner-border spinner-border-lg align-center"></span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </ng-template>
    </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
