<div class="header">
    <h1 class="h3">{{ 'app.assets.list.title' | translate }}</h1>

    <div class="header-controls">
        <a routerLink="add-asset" class="btn btn-primary" tabindex="0">
            <mat-icon>add</mat-icon>
            <span>{{ 'app.assets.list.addAsset' | translate }}</span>
        </a>

        <fingather-portfolio-selector />
    </div>
</div>

<ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav nav-tabs" role="tablist">
    <li [ngbNavItem]="'open-positions'">
        <button ngbNavLink>
            {{ 'app.assets.list.openPositions' | translate }}
        </button>
        <ng-template ngbNavContent>
            <div class="assets-list">
                <div class="form-check form-switch">
                    <input (change)="changeWithGroups()" class="form-check-input" type="checkbox" role="switch" id="withGroups">
                    <label class="form-check-label" for="withGroups">{{ 'app.assets.list.withGroups' | translate }}</label>
                </div>
                <div class="form-check form-switch">
                    <input (change)="changeShowPerAnnum()" class="form-check-input" type="checkbox" role="switch" id="showPerAnnum">
                    <label class="form-check-label" for="showPerAnnum">{{ 'app.assets.list.showPerAnnum' | translate }}</label>
                </div>

                @if (openedGroupedAssets !== null) {
                    <fingather-opened-grouped-assets
                        [openedGroupedAssets]="openedGroupedAssets"
                        [assetsOrder]="openedAssetsOrderBy"
                        [showPerAnnum]="$showPerAnnum()"
                        [defaultCurrency]="defaultCurrency"
                        (changeAssetsOrder)="changeOpenedAssetsOrderBy($event)"
                    />
                } @else if (assetsWithProperties !== null) {
                    <fingather-opened-assets
                        [assets]="assetsWithProperties"
                        [assetsOrder]="openedAssetsOrderBy"
                        [showPerAnnum]="$showPerAnnum()"
                        [defaultCurrency]="defaultCurrency"
                        (changeAssetsOrder)="changeOpenedAssetsOrderBy($event)"
                    />
                } @else {
                    <span class="spinner-border spinner-border-lg align-center"></span>
                }
            </div>
        </ng-template>
    </li>
    <li [ngbNavItem]="'closed-positions'">
        <button ngbNavLink>
            {{ 'app.assets.list.closedPositions' | translate }}
        </button>
        <ng-template ngbNavContent>
            <fingather-closed-assets
                [assets]="assetsWithProperties"
                [defaultCurrency]="defaultCurrency"
            />
        </ng-template>
    </li>
    <li [ngbNavItem]="'watch-list'">
        <button ngbNavLink>
            {{ 'app.assets.list.watchList' | translate }}
        </button>
        <ng-template ngbNavContent>
            <fingather-watched-assets
                [assets]="assetsWithProperties"
            />
        </ng-template>
    </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-4"></div>
