<div class="header row">
    <div class="col-md-3 order-md-2 text-end">
        <fingather-portfolio-selector />
    </div>
    <div class="col-md-9 order-md-0">
        @if ($id() === null) {
            <h1 class="h3">{{ 'app.shared.dividendDialog.headerAdd' | translate }}</h1>
        } @else {
            <h1 class="h3">{{ 'app.shared.dividendDialog.headerEdit' | translate }}</h1>
        }
        <a [routerLink]="$routerBackLink()" class="btn-link" tabindex="0">
            <mat-icon>chevron_left</mat-icon>
            {{ 'app.transactions.list.title' | translate }}
        </a>
    </div>
</div>

<div class="content-center">
    <div class="card form">
        <div class="card-body">
            @if (!$loading()) {
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    @if (assetId !== null) {
                        <input type="hidden" formControlName="assetId">
                    } @else {
                        <div class="form-row">
                            <div class="form-group col">
                                <label for="assetId">{{ 'app.shared.dividendDialog.asset' | translate }}</label>
                                <fingather-select
                                    id="assetId"
                                    formControlName="assetId"
                                    [items]="assets ?? []"
                                    [class.is-invalid]="$submitted() && f['assetId'].errors"
                                />
                                <fingather-input-validator
                                    [control]="f['assetId']"
                                    [isSubmitted]="$submitted()"
                                    [errorMessages]="{
                                        required: 'app.shared.dividendDialog.assetRequired',
                                    }"
                                />
                            </div>
                        </div>
                    }
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="brokerId">{{ 'app.shared.dividendDialog.broker' | translate }}</label>
                            <fingather-select
                                id="brokerId"
                                formControlName="brokerId"
                                [items]="brokers"
                                [class.is-invalid]="$submitted() && f['brokerId'].errors"
                            />
                            <fingather-input-validator
                                [control]="f['brokerId']"
                                [isSubmitted]="$submitted()"
                                [errorMessages]="{
                                    required: 'app.shared.dividendDialog.brokerRequired',
                                }"
                            />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="actionCreated">{{ 'app.shared.dividendDialog.paidDate' | translate }}</label>
                            <fingather-date-input
                                id="actionCreated"
                                formControlName="actionCreated"
                                [datetime]="true"
                                [class.is-invalid]="$submitted() && f['actionCreated'].errors"
                            />
                            <fingather-input-validator
                                [control]="f['actionCreated']"
                                [isSubmitted]="$submitted()"
                                [errorMessages]="{
                                    required: 'app.shared.dividendDialog.paidDateRequired',
                                }"
                            />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="price">{{ 'app.shared.dividendDialog.price' | translate }}</label>
                            <div class="input-group">
                                <input type="number" step="0.01" min="0" id="price" formControlName="price" class="form-control" [class.is-invalid]="$submitted() && f['price'].errors" [defaultValue]="0.00" />
                                <fingather-select
                                    id="currencyId"
                                    formControlName="currencyId"
                                    [items]="currencies"
                                    [class.is-invalid]="$submitted() && f['currencyId'].errors"
                                    class="money-select"
                                />
                            </div>
                            <fingather-input-validator
                                [control]="f['price']"
                                [isSubmitted]="$submitted()"
                                [errorMessages]="{
                                    required: 'app.shared.dividendDialog.priceRequired',
                                }"
                            />
                            <fingather-input-validator
                                [control]="f['currencyId']"
                                [isSubmitted]="$submitted()"
                                [errorMessages]="{
                                    required: 'app.shared.dividendDialog.currencyRequired',
                                }"
                            />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="tax">{{ 'app.shared.dividendDialog.tax' | translate }}</label>
                            <div class="input-group">
                                <input type="number" step="0.01" min="0" id="tax" formControlName="tax" class="form-control" [class.is-invalid]="$submitted() && f['tax'].errors" [defaultValue]="0.00" />
                                <fingather-select
                                    id="taxCurrencyId"
                                    formControlName="taxCurrencyId"
                                    [items]="currencies"
                                    [class.is-invalid]="$submitted() && f['taxCurrencyId'].errors"
                                    class="money-select"
                                />
                            </div>
                            <fingather-input-validator
                                [control]="f['tax']"
                                [isSubmitted]="$submitted()"
                                [errorMessages]="{
                                    required: 'app.shared.dividendDialog.taxRequired',
                                }"
                            />
                            <fingather-input-validator
                                [control]="f['taxCurrencyId']"
                                [isSubmitted]="$submitted()"
                                [errorMessages]="{
                                    required: 'app.shared.dividendDialog.currencyRequired',
                                }"
                            />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="fee">{{ 'app.shared.dividendDialog.fee' | translate }}</label>
                            <div class="input-group">
                                <input type="number" step="0.01" min="0" id="fee" formControlName="fee" class="form-control" [class.is-invalid]="$submitted() && f['fee'].errors" [defaultValue]="0.00" />
                                <fingather-select
                                    id="feeCurrencyId"
                                    formControlName="feeCurrencyId"
                                    [items]="currencies"
                                    [class.is-invalid]="$submitted() && f['feeCurrencyId'].errors"
                                    class="money-select"
                                />
                            </div>
                            <fingather-input-validator
                                [control]="f['tax']"
                                [isSubmitted]="$submitted()"
                                [errorMessages]="{
                                    required: 'app.shared.dividendDialog.feeRequired',
                                }"
                            />
                            <fingather-input-validator
                                [control]="f['feeCurrencyId']"
                                [isSubmitted]="$submitted()"
                                [errorMessages]="{
                                    required: 'app.shared.dividendDialog.currencyRequired',
                                }"
                            />
                        </div>
                    </div>
                    <div class="form-group buttons">
                        <a [routerLink]="$routerBackLink()" class="btn btn-secondary" tabindex="0">{{ 'app.common.cancel' | translate }}</a>

                        <fingather-save-button
                            [saving]="$saving()"
                        />
                    </div>
                </form>
            }
        </div>
    </div>
</div>
