.app-container {
    padding-top: 86px;
}

.small {
    font-size: 0.85rem;
}

.red {
    color: red !important;
}

.green {
    color: #64ee85 !important;
}

.apexcharts-tooltip {
    background-color: #2b3035 !important;
    color: #eee;
}
