/* You can add global styles to this file, and also import other style files */
a { cursor: pointer }

.app-container {
    min-height: 320px;
    overflow: hidden;
}

.small {
    font-size: 0.85rem;
}

.red {
    color: red !important;
}

.green {
    color: #64ee85 !important;
}
