$body-bg-dark: #161d1e;
$link-color-dark: #fdfdfd;
$card-bg: #1f2c2d;
$font-family-sans-serif: 'Nunito', sans-serif;

$color-green: #64ee85;
$color-red: #ff6b6b;
$color-blue: #62cbee;

$content-background-color: #1b2627;

$table-bg: $content-background-color;
$table-striped-bg: $card-bg;

$link-selected-background-color: #2c3d3f;
$link-hover-background-color: #1f2c2d;

@import "bootstrap/scss/bootstrap";



a {
    cursor: pointer
}

.app-container {
    padding-top: 61px;
    @include media-breakpoint-up(lg) {
        padding-top: 0;
        padding-left: 280px;
    }
}

.small {
    font-size: 0.85rem;
}

.red {
    color: $color-red !important;
}

.green {
    color: $color-green !important;
}

.content {
    width: calc(100vw - 16px);
    height: calc(100vh - 18px);
    background-color: $content-background-color;
    border-radius: 20px;
    margin: 9px 8px;
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding-right: 15px;
    padding-left: 15px;
    z-index: 1000;

    @include media-breakpoint-up(lg) {
        flex-direction: column !important;
        width: 280px;
        height: 100vh;
        padding-left: 13px;
        padding-right: 13px;
    }

    .navbar-brand {
        margin: 0;

        @include media-breakpoint-up(lg) {
            margin-top: 10px;
        }

        img {
            height: 54px;

            @include media-breakpoint-up(lg) {
                height: 60px;
            }
        }
    }

    .nav {
        width: calc(100% - 10px);
        margin-left: 10px;
    }

    .nav-item {
        margin-bottom: 8px;

        .nav-link {
            border-radius: 20px;

            &.active {
                background-color: $link-selected-background-color;
            }
        };

        &:hover {
            .nav-link {
                background-color: $link-hover-background-color;
            }
        }
    }

    #navigation {
        padding-top: 20px;
        margin-bottom: 20px;
        background-color: $content-background-color;
    }
}

.navbar {
    background: transparent;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 47px));
    width: 366px;
}

.apexcharts-tooltip {
    background-color: #2b3035 !important;
    color: #eee;
}
.apexcharts-canvas > svg {
    background-color: transparent !important;
}

.ticker-logo {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: $body-bg-dark;
    margin-right: 8px;

    img {
        border-radius: 8px;
    }

    .logo-placeholder {
        position: relative;
        width: 100%;
        height: 100%;

        .logo-placeholder-text {
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 0.8rem;
            font-weight: 700;
        }
    }
}

.file-drop {
    background-color: $body-bg-dark;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);

    .file-drop-text {
        margin-right: 10px;
    }
}

.tag {
    display: inline-block;
    background-color: $body-bg-dark;
    color: #fff;
    border-radius: 20px;
    padding: 2px 10px;
    margin-right: 5px;
    font-size: 0.875rem;

    .buy {
        color: $color-green;
    }

    .sell {
        color: $color-red;
    }

    .dividend {
        color: $color-blue;
    }
}
