<div class="header">
    <h1 class="h3">{{ 'app.portfolios.list.title' | translate }}</h1>

    <div class="header-controls">
        <a routerLink="add-portfolio" class="btn btn-primary" tabindex="0">
            <mat-icon>add</mat-icon>
            <span> {{ 'app.portfolios.list.addPortfolio' | translate }}</span>
        </a>

        <div class="d-none d-lg-block">
            <fingather-portfolio-selector />
        </div>
    </div>
</div>

<div class="portfolio-list">
    @for (portfolio of portfolios; track portfolio.id) {
        <div class="card dark portfolio">
            <div class="card-body">
                <div class="portfolio-header">
                    <span class="icon-circle icon-circle-line">
                        <mat-icon>wallet</mat-icon>
                    </span>
                    <h2 class="h4">{{portfolio.name}}</h2>
                    <div class="control-buttons">
                        <a routerLink="edit-portfolio/{{portfolio.id}}" class="btn btn-secondary me-2" tabindex="0">
                            <mat-icon>edit</mat-icon>
                            {{ 'app.common.edit' | translate }}
                        </a>
                        <fingather-delete-button
                            [showText]="true"
                            (onConfirm)="deletePortfolio(portfolio.id)"
                            [title]="'Delete portfolio ' + portfolio.name"
                            [message]="'Are you sure you want to delete portfolio ' + portfolio.name + '?'"
                        />
                    </div>
                </div>
            </div>

            <fingather-portfolio-total
                [portfolio]="portfolio"
            />
        </div>
    }
</div>

