<div class="row">
    <div class="col-md-8">
        <h1>{{ 'app.portfolios.list.title' | translate }}</h1>
    </div>
    <div class="col-md-4 text-end">
        <a (click)="addPortfolio()" class="btn btn-sm btn-success" tabindex="0">
            <mat-icon>add</mat-icon> {{ 'app.portfolios.list.addPortfolio' | translate }}
        </a>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 80%">{{ 'app.portfolios.list.name' | translate }}</th>
            <th style="width: 20%"></th>
        </tr>
    </thead>
    <tbody>
        @for (portfolio of portfolios; track portfolio.id) {
            <tr>
                <td>{{portfolio.name}}</td>
                <td class="text-end" style="white-space: nowrap">
                    <a (click)="editPortfolio(portfolio.id)" class="btn btn-sm btn-primary me-2" tabindex="0">
                        <mat-icon>add</mat-icon> {{ 'app.common.edit' | translate }}
                    </a>
                    @if (!portfolio.isDefault && portfolio.id !== currentPortfolio.id) {
                        <fingather-delete-button
                            (onConfirm)="deletePortfolio(portfolio.id)"
                            [title]="'Delete portfolio ' + portfolio.name"
                            [message]="'Are you sure you want to delete portfolio ' + portfolio.name + '?'"
                        />
                    }
                </td>
            </tr>
        }
        <tr *ngIf="portfolios === null">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>
