<div class="header row">
    <div class="col-md-3 order-md-2 text-end">
        <fingather-portfolio-selector />
    </div>
    <div class="col-md-9 order-md-0">
        @if ($id() === null) {
            <h1 class="h3">{{ 'app.apiKeys.addEdit.headerAdd' | translate }}</h1>
        } @else {
            <h1 class="h3">{{ 'app.apiKeys.addEdit.headerEdit' | translate }}</h1>
        }
        <a [routerLink]="$routerBackLink()" class="btn-link" tabindex="0">
            <mat-icon>chevron_left</mat-icon>
            {{ 'app.apiKeys.apiKeys.title' | translate }}
        </a>
    </div>
</div>

<div class="content-center">
    <div class="card form">
        <div class="card-body">
            @if (!$loading()) {
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="type" class="form-label">{{ 'app.apiKeys.addEdit.type' | translate }}</label>
                        <fingather-select
                            id="type"
                            formControlName="type"
                            [items]="types"
                        />
                        <div *ngIf="$submitted() && f['currencyId'].errors" class="invalid-feedback">
                            <div *ngIf="f['currencyId'].errors['required']">{{ 'app.apiKeys.addEdit.typeRequired' | translate }}</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="apiKey" class="form-label">{{ 'app.apiKeys.addEdit.apiKey' | translate }}</label>
                        <input id="apiKey" type="text" formControlName="apiKey" class="form-control" [class.is-invalid]="$submitted() && f['name'].errors" />
                        <div *ngIf="$submitted() && f['name'].errors" class="invalid-feedback">
                            <div *ngIf="f['name'].errors['required']">{{ 'app.apiKeys.addEdit.apiKeyRequired' | translate }}</div>
                        </div>
                    </div>
                    <div class="form-group buttons">
                        <a [routerLink]="$routerBackLink()" class="btn btn-secondary" tabindex="0">{{ 'app.common.cancel' | translate }}</a>

                        <button [disabled]="$saving()" class="btn btn-primary">
                            <span *ngIf="$saving()" class="spinner-border spinner-border-sm mr-1"></span>
                            {{ 'app.common.save' | translate }}
                        </button>
                    </div>
                </form>
            }
        </div>
    </div>
</div>
