<div class="header row">
    <div class="col-md-3 order-md-2 text-end">
        <fingather-portfolio-selector />
    </div>
    <div class="col-md-3 order-md-0">
        <h1 class="h3">{{ 'app.transactions.list.title' | translate }}</h1>
    </div>
    <div class="col-md-6 order-md-1 text-end">
        <a routerLink="add-transaction" class="btn btn-primary me-3" tabindex="0">
            <mat-icon>add</mat-icon>
            <span>{{ 'app.transactions.list.addTransaction' | translate }}</span>
        </a>
        <a routerLink="add-dividend" class="btn btn-primary me-3" tabindex="0">
            <mat-icon>add</mat-icon>
            <span>{{ 'app.transactions.list.addDividend' | translate }}</span>
        </a>
        <a routerLink="import" class="btn btn-secondary">
            <mat-icon>upload</mat-icon>
            <span>{{ 'app.transactions.list.import' | translate }}</span>
        </a>
    </div>
</div>

<fingather-transactions-search
    (onSearch)="changeTransactionSearch($event)"
/>

<div class="card">
    <div class="card-body">
        <table class="table table-fixed">
            <thead>
                <tr>
                    <th>{{ 'app.transactions.list.date' | translate }}</th>
                    <th>{{ 'app.transactions.list.created' | translate }}</th>
                    <th>{{ 'app.transactions.list.type' | translate }}</th>
                    <th style="width: 40%">{{ 'app.transactions.list.asset' | translate }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for(transaction of transactionList?.transactions; track transaction.id) {
                    <tr>
                        <td class="color-gray">
                            <div>{{transaction.actionCreated | date: 'y-MM-dd'}}</div>
                            <div class="small">{{transaction.actionCreated | date: 'HH:mm'}}</div>
                        </td>
                        <td class="color-gray">
                            <div>{{transaction.created | date: 'y-MM-dd'}}</div>
                            <div class="small">{{transaction.created | date: 'HH:mm'}}</div>
                        </td>
                        <td>
                            <fingather-tag [type]="transaction.actionType" />
                        </td>
                        <td>
                            <div class="asset">
                                <fingather-ticker-logo [ticker]="transaction.ticker" />
                                <div class="asset-text">
                                    <div class="asset-ticker">{{transaction.ticker.ticker}}</div>
                                    <div class="asset-name ellipsis">{{transaction.ticker.name}}</div>
                                </div>
                            </div>
                        </td>
                        <td class="actions">
                            @if (transaction.actionType === TransactionActionType.Dividend) {
                                <a routerLink="edit-dividend/{{transaction.id}}" class="btn btn-sm btn-secondary me-2" tabindex="0">
                                    <mat-icon>edit</mat-icon>
                                </a>
                            } @else {
                                <a routerLink="edit-transaction/{{transaction.id}}" class="btn btn-sm btn-secondary me-2" tabindex="0">
                                    <mat-icon>edit</mat-icon>
                                </a>
                            }
                            <fingather-delete-button
                                (onConfirm)="deleteTransaction(transaction.id)"
                                [title]="'Delete transaction'"
                                [message]="'Are you sure you want to delete transaction?'"
                            />
                        </td>
                    </tr>
                }
                @if (transactionList === null) {
                    <tr>
                        <td colspan="7" class="text-center">
                            <span class="spinner-border spinner-border-lg align-center"></span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<fingather-pagination
    [totalItems]="transactionList !== null ? transactionList.count : 0"
    [defaultPageSize]="pageSize"
    (onSelectPage)="changePage($event)"
    (onChangePageSize)="changePageSize($event)"
/>
