<div class="header">
    <h1 class="h3">{{ 'app.transactions.list.title' | translate }}</h1>

    <div class="header-controls">
        <div class="header-controls-buttons">
            <a routerLink="add-transaction" class="btn btn-primary" tabindex="0">
                <mat-icon>add</mat-icon>
                <span>{{ 'app.transactions.list.addTransaction' | translate }}</span>
            </a>
            <a routerLink="add-dividend" class="btn btn-primary" tabindex="0">
                <mat-icon>add</mat-icon>
                <span>{{ 'app.transactions.list.addDividend' | translate }}</span>
            </a>
            <a routerLink="import" class="btn btn-secondary">
                <mat-icon>upload</mat-icon>
                <span>{{ 'app.transactions.list.import' | translate }}</span>
            </a>
        </div>

        <div class="d-none d-lg-block">
            <fingather-portfolio-selector />
        </div>
    </div>
</div>

<fingather-transaction-list />
