<div class="header">
    <h1 class="h3">{{ 'app.groups.list.title' | translate }}</h1>

    <div class="header-controls">
        <a routerLink="add-group" class="btn btn-primary" tabindex="0">
            <mat-icon>add</mat-icon>
            <span> {{ 'app.groups.list.addGroup' | translate }}</span>
        </a>

        <div class="d-none d-lg-block">
            <fingather-portfolio-selector />
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        @if(groups !== null) {
            <div class="table-responsive" scrollShadow>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="w-80">{{ 'app.groups.list.name' | translate }}</th>
                            <th class="w-20"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(group of groups; track group.id) {
                            <tr>
                                <td>
                                    <div class="group-name">
                                        <span
                                            class="group-name-color"
                                            [style.background-color]="group.color"
                                        >
                                        </span>
                                        <span class="group-name-label">{{group.name}}</span>
                                    </div>
                                </td>
                                <td class="actions">
                                    <a routerLink="edit-group/{{group.id}}" class="btn btn-secondary" tabindex="0">
                                        <mat-icon>edit</mat-icon>
                                    </a>
                                    <fingather-delete-button
                                        (onConfirm)="deleteGroup(group.id)"
                                        [title]="'Delete group ' + group.name"
                                        [message]="'Are you sure you want to delete group ' + group.name + '?'"
                                    />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>
