<ng-template #rt let-r="result" let-t="term">
    <div class="d-flex justify-content-between">
        <div>
            <ngb-highlight [result]="r.ticker" [term]="t"></ngb-highlight>
        </div>
        <div>
            <small>{{ r.name }}</small>
        </div>
        <div>
            <small>{{ r.market.mic }}</small>
        </div>
    </div>
</ng-template>

<div class="modal-header">
    <h4>{{ 'app.assets.addAsset.header' | translate }}</h4>
</div>
<div class="modal-body" >
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="ticker" class="form-label">{{ 'app.assets.addAsset.selectAsset' | translate }}</label>
            <input
                id="ticker"
                type="text"
                formControlName="ticker"
                class="form-control"
                [ngClass]="{ 'is-invalid': searchFailed || ($submitted() && f['ticker'].errors) }"
                [(ngModel)]="model"
                [ngbTypeahead]="search"
                [resultTemplate]="rt"
                [inputFormatter]="formatter"
                placeholder="Ticker search"
            />
            @if (searching) {
                <small class="form-text text-muted">{{ 'app.assets.addAsset.searching' | translate }}</small>
            }
            @if (searchFailed) {
                <div class="invalid-feedback">{{ 'app.assets.addAsset.searchFailed' | translate }}</div>
            }

            <div *ngIf="$submitted() && f['ticker'].errors" class="invalid-feedback">
                <div *ngIf="f['ticker'].errors['ticker']">{{ 'app.assets.addAsset.required' | translate }}</div>
            </div>
        </div>
        @if (searching) {
            <small class="form-text text-muted">{{ 'app.assets.addAsset.searching' | translate }}</small>
        }
        @if (searchFailed) {
            <div class="invalid-feedback">{{ 'app.assets.addAsset.searchFailed' | translate }}</div>
        }

        <div class="mb-3">
            <button [disabled]="$saving()" class="btn btn-primary">
                <span *ngIf="$saving()" class="spinner-border spinner-border-sm mr-1"></span>
                {{ 'app.common.save' | translate }}
            </button>
            <a (click)="activeModal.dismiss()" class="btn btn-link" tabindex="0">{{ 'app.common.cancel' | translate }}</a>
        </div>
    </form>
</div>
