<div class="modal-header">
    @if (id === null) {
        <h4 class="modal-title">{{ 'app.shared.dividendDialog.headerAdd' | translate }}</h4>
    } @else {
        <h4 class="modal-title">{{ 'app.shared.dividendDialog.headerEdit' | translate }}</h4>
    }

    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body" *ngIf="form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        @if (assetId !== null) {
            <input type="hidden" formControlName="assetId">
        } @else {
            <div class="form-row">
                <div class="form-group col">
                    <label for="assetId">{{ 'app.shared.dividendDialog.asset' | translate }}</label>
                    <select id="assetId" formControlName="assetId" class="form-select">
                        <option *ngFor="let asset of assets" [ngValue]="asset.id">
                            {{ asset.ticker.name }}
                        </option>
                    </select>
                    <div *ngIf="submitted && f['assetId'].errors" class="invalid-feedback">
                        <div *ngIf="f['assetId'].errors['required']">{{ 'app.shared.dividendDialog.assetRequired' | translate }}</div>
                    </div>
                </div>
            </div>
        }
        <div class="form-row">
            <div class="form-group col">
                <label for="brokerId">{{ 'app.shared.dividendDialog.broker' | translate }}</label>
                <select id="brokerId" formControlName="brokerId" class="form-select">
                    <option *ngFor="let broker of brokers" [ngValue]="broker.id">
                        {{ broker.name }}
                    </option>
                </select>
                <div *ngIf="submitted && f['brokerId'].errors" class="invalid-feedback">
                    <div *ngIf="f['brokerId'].errors['required']">{{ 'app.shared.dividendDialog.brokerRequired' | translate }}</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="actionCreated">{{ 'app.shared.dividendDialog.paidDate' | translate }}</label>
                <input type="datetime-local" id="actionCreated" formControlName="actionCreated" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['actionCreated'].errors }" />
                <div *ngIf="submitted && f['actionCreated'].errors" class="invalid-feedback">
                    <div *ngIf="f['actionCreated'].errors['required']">{{ 'app.shared.dividendDialog.paidDateRequired' | translate }}</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="price">{{ 'app.shared.dividendDialog.price' | translate }}</label>
                <div class="input-group">
                    <input type="number" step="0.01" min="0" id="price" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['price'].errors }" [defaultValue]="0.00" />
                    <select id="currencyId" formControlName="currencyId" class="form-select">
                        <option *ngFor="let currency of currencies" [ngValue]="currency.id">
                            {{ currency.code }}
                        </option>
                    </select>
                </div>
                <div *ngIf="submitted && f['price'].errors" class="invalid-feedback">
                    <div *ngIf="f['price'].errors['required']">{{ 'app.shared.dividendDialog.priceRequired' | translate }}</div>
                </div>
                <div *ngIf="submitted && f['currencyId'].errors" class="invalid-feedback">
                    <div *ngIf="f['currencyId'].errors['required']">{{ 'app.shared.dividendDialog.currencyRequired' | translate }}</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="tax">{{ 'app.shared.dividendDialog.tax' | translate }}</label>
                <div class="input-group">
                    <input type="number" step="0.01" min="0" id="tax" formControlName="tax" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['tax'].errors }" [defaultValue]="0.00" />
                    <select id="taxCurrencyId" formControlName="taxCurrencyId" class="form-select">
                        <option *ngFor="let currency of currencies" [ngValue]="currency.id">
                            {{ currency.code }}
                        </option>
                    </select>
                </div>
                <div *ngIf="submitted && f['tax'].errors" class="invalid-feedback">
                    <div *ngIf="f['tax'].errors['required']">{{ 'app.shared.dividendDialog.taxRequired' | translate }}</div>
                </div>
                <div *ngIf="submitted && f['taxCurrencyId'].errors" class="invalid-feedback">
                    <div *ngIf="f['taxCurrencyId'].errors['required']">{{ 'app.shared.dividendDialog.currencyRequired' | translate }}</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="fee">{{ 'app.shared.dividendDialog.fee' | translate }}</label>
                <div class="input-group">
                    <input type="number" step="0.01" min="0" id="fee" formControlName="fee" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['fee'].errors }" [defaultValue]="0.00" />
                    <select id="feeCurrencyId" formControlName="feeCurrencyId" class="form-select">
                        <option *ngFor="let currency of currencies" [ngValue]="currency.id">
                            {{ currency.code }}
                        </option>
                    </select>
                </div>
                <div *ngIf="submitted && f['fee'].errors" class="invalid-feedback">
                    <div *ngIf="f['fee'].errors['required']">{{ 'app.shared.dividendDialog.feeRequired' | translate }}</div>
                </div>
                <div *ngIf="submitted && f['feeCurrencyId'].errors" class="invalid-feedback">
                    <div *ngIf="f['feeCurrencyId'].errors['required']">{{ 'app.shared.dividendDialog.currencyRequired' | translate }}</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                {{ 'app.common.save' | translate }}
            </button>
            <a (click)="activeModal.dismiss()" class="btn btn-link" tabindex="0">{{ 'app.common.cancel' | translate }}</a>
        </div>
    </form>
</div>
