<div class="header">
    <h1 class="h3">{{ 'app.apiKeys.apiKeys.title' | translate }}</h1>

    <div class="header-controls">
        <a routerLink="add-api-key" class="btn btn-primary" tabindex="0">
            <mat-icon>add</mat-icon>
            <span> {{ 'app.apiKeys.apiKeys.addApiKey' | translate }}</span>
        </a>

        <div class="d-none d-lg-block">
            <fingather-portfolio-selector />
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        @if(apiKeys(); as apiKeys) {
            <div class="table-responsive" scrollShadow>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="w-40">{{ 'app.apiKeys.apiKeys.type' | translate }}</th>
                            <th class="w-40">{{ 'app.apiKeys.apiKeys.apiKey' | translate }}</th>
                            <th class="w-20"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(apiKey of apiKeys; track apiKey.id) {
                            <tr>
                                <td>{{apiKey.type}}</td>
                                <td>{{apiKey.apiKey}}</td>
                                <td class="actions">
                                    <a routerLink="edit-api-key/{{apiKey.id}}" class="btn btn-secondary" tabindex="0">
                                        <mat-icon>edit</mat-icon>
                                    </a>
                                    <fingather-delete-button
                                        (confirm)="deleteApiKey(apiKey.id)"
                                        [title]="'app.apiKeys.apiKeys.deleteTitle' | translate"
                                        [message]="'app.apiKeys.apiKeys.deleteMessage' | translate"
                                    />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>
