$color-black: #000000;
$color-white: #ffffff;
$color-gray: #262626;
$color-gray-light: #3d3d3d;
$color-gray-lighter: #454545;
$color-gray-lightest: #b0b0b0;
$color-green: #4ade80;
$color-red: #f87171;
$color-purple: #9e2af3;

$body-color-dark: $color-white;
$body-bg-dark: $color-black;
$background-color: $color-gray;
$link-color-dark: #fdfdfd;
$card-bg: $color-gray;
$table-bg: $background-color;
$table-striped-bg: $card-bg;

$font-family-sans-serif: 'Gaist', sans-serif;

$border-radius: 4px;

$navigation-width: 224px;
