$color-black: #000000;
$color-white: #ffffff;
$color-gray: #262626;
$color-gray-light: #3d3d3d;
$color-gray-lighter: #454545;
$color-gray-7: #585858;
$color-gray-8: #888888;
$color-gray-lightest: #b0b0b0;
$color-green: #4ade80;
$color-green-light: #a4e04f;
$color-red: #f87171;
$color-purple: #9e2af3;
$color-purple-light: #dcb0ff;

$font-family-sans-serif: 'Gaist', sans-serif;

$spacing-xs: 8px;
$spacing-sm: 12px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

$border-radius: 4px;
$border-radius-lg: 16px;

$font-size: 1rem;
$font-size-sm: 0.875rem;
$font-size-xs: 0.75rem;
$line-height: 1.5rem;
$line-height-sm: 1.25rem;
$line-height-xs: 1rem;

$h1-font-size: 39px;
$h2-font-size: 33px;
$h3-font-size: 27px;
$h4-font-size: 23px;
$h5-font-size: 19px;
$h6-font-size: 16px;
$h1-line-height: 44px;
$h2-line-height: 36px;
$h3-line-height: 32px;
$h4-line-height: 28px;
$h5-line-height: 24px;
$h6-line-height: 20px;

$navigation-width: 224px;

$ticker-logo-wrapper-size: 56px;
$ticker-logo-size: 48px;
$ticker-logo-margin: 12px;
$ticker-logo-wrapped-margin: ($ticker-logo-wrapper-size - $ticker-logo-size) / 2;

$table-cell-padding-y: 0.5rem;
$table-cell-padding-x: 1rem;

//bootstrap overrides
$primary: $color-purple;
$primary-light: $color-purple-light;
$body-color-dark: $color-white;
$body-bg-dark: $color-black;
$background-color: $color-gray;
$link-color-dark: #fdfdfd;
$card-bg: $color-gray;
$table-bg: $background-color;
$table-striped-bg: $card-bg;
$table-border-color: $color-gray-lighter;

$input-border-color: $color-gray-lighter;
