<h3>
    {{ 'app.assets.detail.fundamentals.header' | translate }}
</h3>
<div class="asset-detail-fundamentals">
    @if(tickerFundamental !== null) {
        <div ngbNav #fundamentalsNav="ngbNav" [(activeId)]="activeTab" orientation="vertical">
            <ng-container [ngbNavItem]="FundamentalsTabEnum.ValuationsMetrics">
                <button ngbNavLink>
                    {{ 'app.assets.detail.fundamentals.valuationsMetrics' | translate }}
                </button>
                <ng-template ngbNavContent>
                    <table class="table">
                        <tbody>
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'marketCapitalization'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'enterpriseValue'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'trailingPe'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'forwardPe'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'pegRatio'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'priceToSalesTtm'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'priceToBookMrq'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'enterpriseToRevenue'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'enterpriseToEbitda'"
                            />
                        </tbody>
                    </table>
                </ng-template>
            </ng-container>

            <ng-container [ngbNavItem]="FundamentalsTabEnum.Financials">
                <button ngbNavLink>
                    {{ 'app.assets.detail.fundamentals.financials' | translate }}
                </button>
                <ng-template ngbNavContent>
                    <table class="table">
                        <tbody>
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'fiscalYearEnds'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'mostRecentQuarter'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'profitMargin'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'operatingMargin'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'returnOnAssetsTtm'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'returnOnEquityTtm'"
                            />
                        </tbody>
                    </table>
                </ng-template>
            </ng-container>

            <ng-container [ngbNavItem]="FundamentalsTabEnum.IncomeStatement">
                <button ngbNavLink>
                    {{ 'app.assets.detail.fundamentals.incomeStatement' | translate }}
                </button>
                <ng-template ngbNavContent>
                    <table class="table">
                        <tbody>
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'revenueTtm'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'revenuePerShareTtm'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'quarterlyRevenueGrowth'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'grossProfitTtm'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'ebitda'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'netIncomeToCommonTtm'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'dilutedEpsTtm'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'quarterlyEarningsGrowthYoy'"
                            />
                        </tbody>
                    </table>
                </ng-template>
            </ng-container>

            <ng-container [ngbNavItem]="FundamentalsTabEnum.BalanceSheet">
                <button ngbNavLink>
                    {{ 'app.assets.detail.fundamentals.balanceSheet' | translate }}
                </button>
                <ng-template ngbNavContent>
                    <table class="table">
                        <tbody>
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'totalCashMrq'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'totalCashPerShareMrq'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'totalDebtMrq'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'totalDebtToEquityMrq'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'currentRatioMrq'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'bookValuePerShareMrq'"
                            />
                        </tbody>
                    </table>
                </ng-template>
            </ng-container>

            <ng-container [ngbNavItem]="FundamentalsTabEnum.CashFlow">
                <button ngbNavLink>
                    {{ 'app.assets.detail.fundamentals.cashFlow' | translate }}
                </button>
                <ng-template ngbNavContent>
                    <table class="table">
                        <tbody>
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'operatingCashFlowTtm'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'leveredFreeCashFlowTtm'"
                            />
                        </tbody>
                    </table>
                </ng-template>
            </ng-container>

            <ng-container [ngbNavItem]="FundamentalsTabEnum.Statistics">
                <button ngbNavLink>
                    {{ 'app.assets.detail.fundamentals.statistics' | translate }}
                </button>
                <ng-template ngbNavContent>
                    <table class="table">
                        <tbody>
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'sharesOutstanding'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'floatShares'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'avg10Volume'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'avg90Volume'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'sharesShort'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'shortRatio'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'shortPercentOfSharesOutstanding'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'percentHeldByInsiders'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'percentHeldByInstitutions'"
                            />
                        </tbody>
                    </table>
                </ng-template>
            </ng-container>

            <ng-container [ngbNavItem]="FundamentalsTabEnum.PriceSummary">
                <button ngbNavLink>
                    {{ 'app.assets.detail.fundamentals.priceSummary' | translate }}
                </button>
                <ng-template ngbNavContent>
                    <table class="table">
                        <tbody>
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'fiftyTwoWeekLow'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'fiftyTwoWeekHigh'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'fiftyTwoWeekChange'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'beta'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'day50Ma'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'day200Ma'"
                            />
                        </tbody>
                    </table>
                </ng-template>
            </ng-container>

            <ng-container [ngbNavItem]="FundamentalsTabEnum.DividendsAndSplits">
                <button ngbNavLink>
                    {{ 'app.assets.detail.fundamentals.dividendsAndSplits' | translate }}
                </button>
                <ng-template ngbNavContent>
                    <table class="table">
                        <tbody>
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'forwardAnnualDividendRate'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'forwardAnnualDividendYield'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'trailingAnnualDividendRate'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'trailingAnnualDividendYield'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'fiveYearAverageDividendYield'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'payoutRatio'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'dividendDate'"
                            />
                            <fingather-ticker-fundamentals-fundamental-row
                                [tickerFundamental]="tickerFundamental"
                                [fundamentalName]="'exDividendDate'"
                            />
                        </tbody>
                    </table>
                </ng-template>
            </ng-container>
        </div>
        <div [ngbNavOutlet]="fundamentalsNav"></div>
    }
</div>
