<div class="row">
    <div class="col-md-3 order-md-1 text-end">
        <fingather-portfolio-selector />
    </div>
    <div class="col-md-9 order-md-0">
        <h1>History</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <ul class="nav">
            <li class="nav-item">
                <a (click)="changeRange(PortfolioDataRangeEnum.SevenDays)" class="nav-link" tabindex="0">7d</a>
            </li>
            <li class="nav-item">
                <a (click)="changeRange(PortfolioDataRangeEnum.OneMonth)" class="nav-link" tabindex="0">1m</a>
            </li>
            <li class="nav-item">
                <a (click)="changeRange(PortfolioDataRangeEnum.ThreeMonths)" class="nav-link" tabindex="0">3m</a>
            </li>
            <li class="nav-item">
                <a (click)="changeRange(PortfolioDataRangeEnum.SixMonths)" class="nav-link" tabindex="0">6m</a>
            </li>
            <li class="nav-item">
                <a (click)="changeRange(PortfolioDataRangeEnum.YTD)" class="nav-link" tabindex="0">YTD</a>
            </li>
            <li class="nav-item">
                <a (click)="changeRange(PortfolioDataRangeEnum.OneYear)" class="nav-link" tabindex="0">1y</a>
            </li>
            <li class="nav-item">
                <a (click)="changeRange(PortfolioDataRangeEnum.All)" class="nav-link" tabindex="0">all</a>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="benchmarkAssetId">Benchmark Asset</label>
            </div>
            <div class="col-auto">
                <select id="benchmarkAssetId" (change)="changeBenchmarkAsset($event)" class="form-select">
                    <option value="">Choose</option>
                    @for (asset of assets; track asset.id) {
                        <option value="{{asset.id}}">{{asset.ticker.ticker}}</option>
                    }
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <fingather-history-portfolio-value-chart
            [range]="range"
            [benchmarkAssetId]="benchmarkAssetId"
        ></fingather-history-portfolio-value-chart>
    </div>
</div>
