<div class="header row">
    <div class="col-md-3 order-md-2 text-end">
        <fingather-portfolio-selector />
    </div>
    <div class="col-md-3 order-md-0">
        <h1 class="h3">{{ 'app.groups.list.title' | translate }}</h1>
    </div>
    <div class="col-md-6 order-md-1 text-end">
        <a routerLink="add-group" class="btn btn-primary me-3" tabindex="0">
            <mat-icon>add</mat-icon>
            <span> {{ 'app.groups.list.addGroup' | translate }}</span>
        </a>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <table class="table table-fixed">
            <thead>
                <tr>
                    <th style="width: 80%">{{ 'app.groups.list.name' | translate }}</th>
                    <th style="width: 20%"></th>
                </tr>
            </thead>
            <tbody>
                @for(group of groups; track group.id) {
                    <tr>
                        <td>{{group.name}}</td>
                        <td class="text-end" style="white-space: nowrap">
                            <a routerLink="edit-group/{{group.id}}" class="btn btn-secondary me-2" tabindex="0">
                                <mat-icon>edit</mat-icon>
                            </a>
                            <fingather-delete-button
                                (onConfirm)="deleteGroup(group.id)"
                                [title]="'Delete group ' + group.name"
                                [message]="'Are you sure you want to delete group ' + group.name + '?'"
                            />
                        </td>
                    </tr>
                }
                @if(groups === null) {
                    <tr>
                        <td colspan="2" class="text-center">
                            <span class="spinner-border spinner-border-lg align-center"></span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
